//Sprites
@import '../sprites/_flags.spr.scss';
@import '../sprites/_social.spr.scss';
@import '../sprites/_icons.spr.scss';
//Mixins
@import '../mixins/_font_face.mix.scss';
@import '../mixins/_sprite.mix.scss';
@import '../mixins/_lib.mix.scss';

//Fonts
@include font-face("Open Sans", "fonts/PTSans_Regular");
@include font-face("Open Sans", "fonts/PTSans_Regular_Italic", null, italic);
@include font-face("Open Sans", "fonts/PTSans_Bold", bold);
@include font-face("Open Sans", "fonts/PTSans_Bold_Italic", bold, italic);
@include font-face("Roboto", "fonts/Roboto_Regular");
@include font-face("Roboto", "fonts/Roboto_Light", 300);
@include font-face("FontAwesome", "fonts/fontawesome-webfont");
@include font-face("Charter", "fonts/itc-charter");

//Global variables
$font_sans: "Open Sans", sans-serif;
$font_roboto: "Roboto", sans-serif;
$font-charter: "Charter", serif;
$font_awesome: "FontAwesome";
$width_default: 1531px;
$width_tablet: 1199px;
$width_mobile: 767px;