[class*=-outer] {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  //min-width: 1200px;
  min-width: 320px;
  [class*=-inner] {
    width: 100%;
    max-width: $width_default;
    margin: 0 auto;
  }
}

html, body {
  height: 100%;
}

.block-scroll {
  overflow: hidden;
}

body {
  //min-height: 100%;
  background-color: #dbf7ff;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  * {
    box-sizing: border-box;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.main-content {
  height: 100%;
  width: 100%;
  display: table;
  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;
}

.footer-outer {
  width: 100%;
  display: table-row;
  height: 1px;
}

a {
  text-decoration: none;
}

hr {
  color: #d8e2e6;
  background-color: #d8e2e6;
  width: 100%;
  height: 1px;
  border: 0;
  margin: 30px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}