#{extends 'admin/admin.main.html' /}

#{set 'section'} Новости #{/set}
#{set 'action'} Создание #{/set}

#{set 'content'}
    #{include 'admin/includes/form/tinymce-upload.html' /}

    <form method="post" enctype="multipart/form-data" action="@{Admin.newNew()}">
        #{include 'admin/news/partials/form.html' /}

        #{includes/form/actions action: 'Создать новость' /}
    </form>
    #{if emptyFieldsError}
    <div class="notification is-danger" style="margin-top: 20px">
        ${emptyFieldsError}
    </div>
    #{/if}
#{/set}