#{extends 'admin/admin.main.html' /}

#{set 'section'} Оффлайн результаты #{/set}

#{set 'content'}
#{if error}
<div style="color: red; margin-bottom: 1rem">${error}</div>
#{/if}
<form action="@{Admin.uploadOffline()}" enctype="multipart/form-data" method="POST">
    <b style="margin-right: 1rem">Логин психолога: </b>
    <input type="text" name="login" placeholder="brad.pitt">
    <br/>
    <b style="margin-right: 1.8rem">Файл выгрузки: </b>
    <input type="file" name="file">
    <br/>
    <input type="submit" value="Загрузить">
</form>
#{if existing != null}
<p style="margin-top: 2rem; color: green"><b>Файл загружен. Добавлено: ${saved}.</b></p>
#{if !existing.isEmpty()}
<p style="margin-top: 2rem; color: red"><b>Следующие студенты уже внесены в базу:</b></p>
#{/if}
#{list items: existing, as: 'eachStudent'}
<p>
    ${eachStudent.code}
</p>
#{/list}
#{/if}
#{/set}