<div class="question__interrupted">
<div class="flex-row">
    <span class="number">10.</span>
    <span class="label">&{'q10'} </span>
    <span class="info"><br/>
                            #{if state.q10 == 0}
                            &{'no'}
                            #{/if}
                            #{elseif state.q10 == 1}
                            &{'yes'}
                            #{/elseif}
                            #{else}
                            -
                            #{/else}
                        </span>
</div>
</div>