<div class="question__interrupted">
<div class="flex-row">
    <span class="number">2.</span>
    <span class="label">&{'q2'} </span>
</div>
<span class="info">
    <ol>
        <li style="#{if state.q2 == 0} text-decoration: underline #{/if}">&{'no'}</li>
        <li style="#{if state.q2 == 1} text-decoration: underline #{/if}">&{'q2.2'}</li>
        <li style="#{if state.q2 == 2} text-decoration: underline #{/if}">&{'q2.3'}</li>
    </ol>
</span>
</div>