<div class="question__interrupted">
<div class="flex-row flex-row-table">
    <div class="flex-row-table-title">
        <span class="number">5.</span>
        <span class="label">&{'q5'}</span>
    </div>
    <table>
        <thead>
        <tr>
            <th style="width: 150px"> В течение 2-х последних недель </th>
            <th> &{'q5.1'} </th>
            <th> &{'q5.2'} </th>
            <th> &{'q5.3'} </th>
            <th> &{'q5.4'} </th>
            <th> &{'q5.5'} </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width: 200px"> &{'q5-1'} </td>
            <td>
                <p style="#{if state.q5?.size() > 0 && state.q5?.get(0) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q5?.size() > 0 && state.q5?.get(0) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q5?.size() > 0 && state.q5?.get(0) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q5?.size() > 0 && state.q5?.get(0) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
            <td>
                <p style="#{if state.q5?.size() > 0 && state.q5?.get(0) == 4} font-weight: 700; color: black; font-size: 150% #{/if}">4</p>
            </td>
        </tr>
        <tr>
            <td> &{'q5-2'} </td>
            <td>
                <p style="#{if state.q5?.size() > 1 && state.q5?.get(1) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q5?.size() > 1 && state.q5?.get(1) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q5?.size() > 1 && state.q5?.get(1) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q5?.size() > 1 && state.q5?.get(1) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
            <td>
                <p style="#{if state.q5?.size() > 1 && state.q5?.get(1) == 4} font-weight: 700; color: black; font-size: 150% #{/if}">4</p>
            </td>
        </tr>
        <tr>
            <td> &{'q5-3'} </td>
            <td>
                <p style="#{if state.q5?.size() > 2 && state.q5?.get(2) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q5?.size() > 2 && state.q5?.get(2) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q5?.size() > 2 && state.q5?.get(2) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q5?.size() > 2 && state.q5?.get(2) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
            <td>
                <p style="#{if state.q5?.size() > 2 && state.q5?.get(2) == 4} font-weight: 700; color: black; font-size: 150% #{/if}">4</p>
            </td>
        </tr>
        <tr>
            <td> &{'q5-4'} </td>
            <td>
                <p style="#{if state.q5?.size() > 3 && state.q5?.get(3) == 0} font-weight: 700; color: black; font-size: 150% #{/if}">0</p>
            </td>
            <td>
                <p style="#{if state.q5?.size() > 3 && state.q5?.get(3) == 1} font-weight: 700; color: black; font-size: 150% #{/if}">1</p>
            </td>
            <td>
                <p style="#{if state.q5?.size() > 3 && state.q5?.get(3) == 2} font-weight: 700; color: black; font-size: 150% #{/if}">2</p>
            </td>
            <td>
                <p style="#{if state.q5?.size() > 3 && state.q5?.get(3) == 3} font-weight: 700; color: black; font-size: 150% #{/if}">3</p>
            </td>
            <td>
                <p style="#{if state.q5?.size() > 3 && state.q5?.get(3) == 4} font-weight: 700; color: black; font-size: 150% #{/if}">4</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
