<div class="notification __js-location">
    <form method="GET" action="${action}">
        <input type="hidden" name="page" value="1">
        <div class="control is-horizontal">
            <div class="control-label">
                <label class="label">ID</label>
            </div>
            <div class="control">
                <p class="control is-width-one-quarter">
                    #{includes.form.filter.input name: idInputName, value: idFilter/}
                </p>
            </div>
        </div>

        <div class="control is-horizontal">
            <div class="control-label">
                <label class="label">Логин</label>
            </div>
            <div class="control">
                <p class="control is-width-full">
                    #{includes.form.filter.input name: loginInputName, value: loginFilter/}
                </p>
            </div>
        </div>

        <hr>

        <div class="control is-horizontal" data-location="regions">
            <div class="control-label">
                <label class="label">Область</label>
            </div>
            <div class="control">
                <p class="control is-width-full">
                    #{includes.form.filter.dropdown name: regionDropdownName, dropdownOptions: regions, value: regionName /}
                </p>
            </div>
        </div>

        <div class="control is-horizontal" data-location="provinces">
            <div class="control-label">
                <label class="label">Район</label>
            </div>
            <div class="control">
                <p class="control is-width-full">
                    #{includes.form.filter.dropdown name: provinceDropdownName, value: provinceName /}
                </p>
            </div>
        </div>

        <div class="control is-horizontal" data-location="cities">
            <div class="control-label">
                <label class="label">Населенный пункт</label>
            </div>
            <div class="control">
                <p class="control is-width-full">
                    #{includes.form.filter.dropdown name: cityDropdownName, value: cityName /}
                </p>
            </div>
        </div>

        <hr>

        <div class="control is-horizontal">
            <div class="control-label">
                <label class="label">Группа</label>
            </div>
            <div class="control">
                <p class="control is-width-full">
                    #{includes.form.filter.dropdown dropdownOptions: groupsFilter, name: groupsDropdownName, value: groupName/}
                </p>
            </div>
        </div>

        <div class="control is-horizontal">
            <div class="control-label">
                <label class="label"></label>
            </div>
            <p class="control">
                <button type="submit" class="button is-info">Найти</button>
                <a href="${action}" class="button is-link">Отменить</a>
            </p>
        </div>
    </form>
</div>

