<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Логин</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if account}
                #{includes.form.field.input name: loginInputName, type: 'text', error: duplicateError, old: account.username /}
            #{/if}
            #{else}
                #{includes.form.field.input name: loginInputName, type: 'text', error: duplicateError/}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Пароль</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{includes.form.field.input name: passwordInputName, type: 'password'/}
        </p>
    </div>
</div>

<div class="control is-horizontal" id="field-group">
    <div class="control-label">
        <label class="label">Группа</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if account}
            #{includes.form.field.dropdown dropdownOptions: groups, name: groupInputName, old: account.group/}
            #{/if}
            #{else}
            #{includes.form.field.dropdown dropdownOptions: groups, name: groupInputName /}
            #{/else}
        </p>
    </div>
</div>

<hr/>

<div class="control is-horizontal" data-location="regions">
    <div class="control-label">
        <label class="label">Область</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if account}
                #{includes.form.field.dropdown name: regionDropdownName, dropdownOptions: regions, old: account.school.region/}
            #{/if}
            #{else}
                #{includes.form.field.dropdown name: regionDropdownName, dropdownOptions: regions/}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal" data-location="provinces">
    <div class="control-label">
        <label class="label">Район</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if account}
                #{includes.form.field.dropdown dropdownOptions: provinces, name: provinceDropdownName, old: account.school.province/}
            #{/if}
            #{else}
                #{includes.form.field.dropdown name: provinceDropdownName/}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal" data-location="cities">
    <div class="control-label">
        <label class="label">Населенный пункт</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if account}
                #{includes.form.field.dropdown dropdownOptions: cities, name: cityDropdownName, old: account.school.city/}
            #{/if}
            #{else}
                #{includes.form.field.dropdown name: cityDropdownName/}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal" data-location="schools">
    <div class="control-label">
        <label class="label">Школа</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if account}
                #{includes.form.field.dropdown dropdownOptions: schools, name: schoolInputName, old: account.school/}
            #{/if}
            #{else}
                #{includes.form.field.dropdown name: schoolInputName/}
            #{/else}
        </p>
    </div>
</div>



#{set 'moreScripts5'}
<script src="/js/admin/modules/account.js"></script>
#{/set}

#{includes.script.onleave  /}
