<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Группа</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if step}
                #{includes.form.field.dropdown name: groupDropdownName, dropdownOptions: groupDropdownOptions, old: step.group/}
            #{/if}
            #{else}
                #{includes.form.field.dropdown name: groupDropdownName, dropdownOptions: groupDropdownOptions /}
            #{/else}
        </p>
    </div>
</div>

<hr />

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Название</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if step}
                #{includes.form.field.input name: nameInputName, old: step.name, type: 'text'/}
            #{/if}
            #{else}
                #{includes.form.field.input name: nameInputName /}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Позиция</label>
    </div>
    <div class="control">
        <p class="control is-width-one-quarter">
            #{if step}
                #{includes.form.field.input name: positionInputName, error: positionNaNError, type: 'number', old: step.position/}
            #{/if}
            #{else}
                #{includes.form.field.input name: positionInputName, error: positionNaNError /}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Цвет</label>
    </div>
    <div class="control">
        <p class="control is-width-one-quarter">
            #{if step}
                #{includes.form.field.input name: colorPickerName, type: 'color', old: step.color/}
            #{/if}
            #{else}
                #{includes.form.field.input name: colorPickerName, type: 'color' /}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label"></label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if step}
                #{includes.form.field.checkbox name: accessCheckboxName, label: accessCheckboxLabel, old: step.isModerForward/}
            #{/if}
            #{else}
                #{includes.form.field.checkbox name: accessCheckboxName, label: accessCheckboxLabel /}
            #{/else}
        </p>
    </div>
</div>

#{includes.script.onleave /}
