#{extends 'admin/admin.main.html'/}
#{set 'section'} ${account.username} #{/set}

#{set 'content'}
<div><b>Анкета заполнена:</b> #{if profile}Да#{/if}#{else}Нет#{/else}</div>
<div><b>Первый тест пройден:</b> #{if account.isFirstQuizFinished}Да#{/if}#{else}Нет#{/else}</div>
<div><b>Курс завершен:</b> #{if account.isLastQuizFinished}Да <br>${percFirst}% - вступительный тест<br> ${percLast}% - завершающий тест#{/if}#{else}Нет
    #{if account.isFirstQuizFinished}
    #{set currentPage: account.getCurrentPage() /}
    #{if currentPage == 0}
    (Пройден только первый тест)
    #{/if}
    #{else}
    (Пройден шаг #${currentPage})
    #{/else}
    #{/if}
    #{/else}</div>
<br>
#{if profile}
<b>Анкетные данные</b>
<div><b>Имя фамилия: </b>${profile.firstName} ${profile.lastName}</div>
#{if profile.email}
<div><b>Email: </b>${profile.email}</div>
#{/if}
#{if profile.phone}
<div><b>Телефон: </b>${profile.phone}</div>
#{/if}
#{if profile.gender}
<div><b>Пол: </b>#{if profile.gender.equals(enums.Gender.m)}Муж.#{/if}#{else}Жен.#{/else}</div>
#{/if}
#{/if}
#{/set}