#{extends 'admin/admin.main.html' /}

#{set 'section'} Аккаунты #{/set}
#{set 'action'} Сгенерированные #{/set}

#{set 'content'}
    #{if accounts.size() > 0}
        <table class="table">
            <tr>
                <th colspan="2">
                    Школа ${school.name}
                </th>
            </tr>
            #{list items: groups, as: 'group'}
                <tr>
                    <th colspan="2">
                        ${group.name}
                        (<b>${group.accounts.size()}</b> шт.)
                    </th>
                </tr>
                #{list items: group.accounts, as: 'account'}
                    <tr>
                        <td>${account.username}</td>
                        <td>${account.generatedPassword}</td>
                    </tr>
                #{/list}
            #{/list}
        </table>
    #{/if}
#{/set}
