#{extends 'admin/admin.main.html' /}

#{set 'section'} Супервайзер #{/set}

#{set 'content'}
    <form method="post" action="@{Admin.saveSupervisor()}" class="__js-location">
        #{include 'admin/supervisors/partials/form.html' /}

        #{includes.form.actions action: action /}
    </form>

    #{if emptyFieldsError}
    <div class="notification is-danger" style="margin-top: 20px">
        ${emptyFieldsError}
    </div>
    #{/if}
#{/set}
