#{extends 'main.html'/}
<div class="student-leading-form-wrapper" style="margin-top: 2rem; margin-bottom: 2rem">
    <h1 class="student-leading-form-title"> &{'student.leading.add.upper'} </h1>
    #{if error}
        #{if error == "exists"}
            &{'student.leading.exists'}
        #{/if}
        #{else}
            #{if error == "error"}
                &{'student.leading.add.error'}
            #{/if}
            #{else}
                &{'student.leading.busy'} <b>${error}</b>
            #{/else}
        #{/else}
    #{/if}
    <form class="student-leading-form" action="@{StudentLeadingController.saveStudent()}" method="POST">
        <div class="student-leading-form-label-input">
            <label for="id">&{'student.leading.number'}</label>
            <input class="student-leading-form-input" id="id" name="number" placeholder="XXXXXXX"/>
        </div>
        <button type="submit" class="student-leading-form-button student-leading-submit-button">&{'student.leading.toadd'}</button>
    </form>
</div>