<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Email</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if user}
                #{includes.form.field.input name: emailInputName, type: 'text', error: duplicateEmailError, old: user.email/}
            #{/if}
            #{else}
                #{includes.form.field.input name: emailInputName, type: 'text', error: duplicateEmailError/}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Пароль</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{includes.form.field.input name: passwordInputName, type: 'password'/}
        </p>
    </div>
</div>

<hr />


#{includes.script.onleave /}
