<div class="control is-horizontal" id="field-group">
    <div class="control-label">
        <label class="label">Группа</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if news}
                #{includes.form.field.dropdown name: groupDropdownName, dropdownOptions: groupDropdownOptions, old: news.group/}
            #{/if}
            #{else}
                #{includes.form.field.dropdown name: groupDropdownName, dropdownOptions: groupDropdownOptions/}
            #{/else}
    </div>
</div>

<div class="control is-horizontal" id="field-new-type">
    <div class="control-label">
        <label class="label">Тип</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if news}
                #{includes.form.field.dropdown name: newsTypeDropdownName, dropdownOptions: newsTypeDropdownOptions, old: news.newsType/}
            #{/if}
            #{else}
                #{includes.form.field.dropdown name: newsTypeDropdownName, dropdownOptions: newsTypeDropdownOptions/}
            #{/else}
    </div>
</div>

<hr>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Название</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if news}
                #{includes.form.field.input name: nameInputName, old: news.name/}
            #{/if}
            #{else}
                #{includes.form.field.input name: nameInputName /}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Описание</label>
        <span class="help">Не обязательно</span>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if news}
                #{includes.form.field.textarea name: descriptionInputName, old: news.description/}
            #{/if}
            #{else}
                #{includes.form.field.textarea name: descriptionInputName /}
            #{/else}
        </p>
    </div>
</div>


<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Содержание</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if news}
                #{includes.form.field.tinymce name: contentTinymceName, old: news.content/}
            #{/if}
            #{else}
                #{includes.form.field.tinymce name: contentTinymceName/}
            #{/else}
        </p>
    </div>
</div>

<hr/>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Изображение</label>
    </div>
    <div class="control">
        <p class="control is-width-half">
            #{if news}
                #{includes.form.field.file name: pictureFileName, inputClass: 'input-1', spanClass: 'span-1', old: news.picture/}
            #{/if}
            #{else}
                #{includes.form.field.file name: pictureFileName, inputClass: 'input-1', spanClass: 'span-1' /}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Видео</label>
    </div>
    <div class="control">
        <p class="control is-width-half">
            #{if news}
                #{includes.form.field.file name: videoFileName, inputClass: 'input-2', spanClass: 'span-2', old: news.video/}
            #{/if}
            #{else}
                #{includes.form.field.file name: videoFileName, inputClass: 'input-2', spanClass: 'span-2' /}
            #{/else}
        </p>
    </div>
</div>




#{includes.script.onleave /}
#{includes.script.tinymce /}
#{includes.script.stepable /}
