#{extends 'admin/admin.main.html' /}

#{set 'section'} Тесты #{/set}
#{set 'action'} Создание #{/set}

#{set 'content'}
    #{include 'admin/includes/form/tinymce-upload.html'/}

    <form method="post" action="@{Admin.newQuiz()}">
        #{include 'admin/quizzes/partials/form.html' /}

        #{includes.form.actions action: 'Создать тест'/}
    </form>

    #{if emptyFieldsError}
    <div class="notification is-danger" style="margin-top: 20px">
        ${emptyFieldsError}
    </div>
    #{/if}
#{/set}