<footer class="footer-outer">
    <div class="footer-inner">
        <div class="footer__left">
            <div class="footer__logotype">
                <img src="/images/footer_logotype_ru.png">
            </div>
        </div>

        <div class="footer__right">
            <div class="footer__copyright">
                © 2017 Bilim Foundation, &{'all.rights'}
            </div>
        </div>
    </div>
</footer>
