<div class="device-menu" id="device-menu" data-submenu="device-menu">
    <div class="device-menu__top">
        #{if !username}
        <a href="@{Application.login()}" class="device-menu__top-account">
            &{'layout.account.login'}
        </a>
        #{/if}
        <ul class="device-menu__top-language">
            <li #{if play.i18n.Lang.get().equals("kz")}class="is-active"#{/if}>
                <a href="@{Application.changeLang("kz")}">Қазақша</a>
            </li>
            <li #{if play.i18n.Lang.get().equals("ru")}class="is-active"#{/if}>
                <a href="@{Application.changeLang("ru")}">Русский</a>
            </li>
            <li #{if play.i18n.Lang.get().equals("en")}class="is-active"#{/if}>
                <a href="@{Application.changeLang("en")}">English</a>
            </li>
        </ul>
    </div>
</div>

#{if home}
<div class="header-float__space-wrapper"></div>
#{/if}

<header class="header-outer #{if home}__fixed#{/if}" #{if home}id="header-float"#{/if}>
    <div class="header-inner">
        <div class="header__left">
            <a class="logotype" href="/">
                <img class="__desktop" src="/images/logotype.jpg">
                <img class="__device" src="/images/logotype-device.jpg">
            </a>
            <div class="header__device-menu" data-submenu-open="device-menu"></div>
            <ul class="nav-menu header__nav-menu">
                #{if home}
                <li class="is-active" data-target="slide-block-1"><a href="#">&{'layout.home.block1'}</a></li>
                <li data-target="slide-block-2"><a href="#">&{'layout.home.block2'}</a></li>
                <li data-target="slide-block-3"><a href="#">&{'layout.home.block3'}</a></li>
                <li data-target="slide-block-4"><a href="#">&{'layout.home.block4'}</a></li>
                <li data-target="slide-block-5"><a href="#">&{'layout.home.block5'}</a></li>
                #{/if}
                #{else}
                    #{if back}
                        <li><a href="${backUrl}">&{'header.back'}</a></li>
                    #{/if}
                    #{else}
                        #{if headerContent}
                            <li><a href="/">&{'header.main'}</a></li>
                        #{/if}
                        #{else}
                            <li><a href="@{Pages.dashboard()}">&{'header.coursecontent'}</a></li>
                        #{/else}
                    #{/else}
                #{/else}
            </ul>
        </div>
        <div class="header__right">
            <div class="header__telephone">
                <span>&{'layout.layout.phone'}</span>
                <a><i>+7 (717) </i>276-86-48</a>
            </div>
            <div class="login-panel header__login-panel">
                #{if !username}
                    <div class="login-panel__enter">
                        <a href="@{Application.login()}">&{'layout.account.login'}</a>
                    </div>
                #{/if}
                #{else}
                    <div class="login-panel__account" data-submenu-open="account-menu">
                        <span>&{'layout.layout.account'}</span>
                    </div>

                    <ul class="login-panel__menu-list" data-submenu="account-menu">
                        <li><a href="@{Settings.profile()}">&{'layout.account.profile'}</a></li>
                        <li><a href="@{Settings.changePassword()}">&{'layout.account.password'}</a>
                        </li>
                        <li><a href="@{Application.logout()}">&{'layout.account.logout'}</a></li>
                    </ul>
                #{/else}
            </div>

            <div class="language-switch header__language-switch">
                <div class="language-switch__current" data-lang="${play.i18n.Lang.get()}" data-submenu-open="language-menu">
                    <span>#{if play.i18n.Lang.get().equals("kz")} Қазақша #{/if}#{else}#{if play.i18n.Lang.get().equals("ru")} Русский #{/if}#{else} English #{/else}#{/else}</span>
                </div>
                <ul class="language-switch__list" data-submenu="language-menu">
                    <li>
                        <a data-lang="kz" href="@{Application.changeLang("kz")}">Қазақша</a>
                    </li>
                    <li>
                        <a data-lang="ru" href="@{Application.changeLang("ru")}">Русский</a>
                    </li>
                    <li>
                        <a data-lang="en" href="@{Application.changeLang("en")}">English</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

