body, html {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #F2F2F2;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

/* Bulma overrides */
.card-content-small {
	padding: 0.5rem !important;
}

.columns{
	margin-bottom: 0 !important;
}

.columns {
	margin-right: 0 !important;
}

.column:nth-child(3) {
	padding-right: 0 !important;
}

.tooltip {
	color: white;
	border-radius: 3px;
	padding: 5px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.85);
}

.tooltip::after {
	content: " ";
	    position: absolute;
	    top: 100%; /* At the bottom of the tooltip */
	    left: 50%;
	    margin-left: -5px;
	    border-width: 5px;
	    border-style: solid;
	    border-color: black transparent transparent transparent;
}

.card-header-title {
	display: initial;
}



@media screen and (max-width: 768px) {

	.column {
		padding-right: 0 !important;
	}

	.columns {
		padding-top: 0.75rem;
	}

}
