#{if userQuestion}
<input type="hidden" name="id" value="${userQuestion.id}">
#{/if}
<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Сұрақ</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if userQuestion}
                #{includes.form.field.inputTextArea name: questionKzName, old: userQuestion.questionKz/}
            #{/if}
            #{else}
                #{includes.form.field.inputTextArea name: questionKzName/}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Жауап</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if userQuestion}
                #{includes.form.field.inputTextArea name: answerKzName, old: userQuestion.answerKz/}
            #{/if}
            #{else}
                #{includes.form.field.inputTextArea name: answerKzName/}
            #{/else}
        </p>
    </div>
</div>
<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Вопрос</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if userQuestion}
                #{includes.form.field.input name: questionRuName, old: userQuestion.questionRu/}
            #{/if}
            #{else}
                #{includes.form.field.inputTextArea name: questionRuName/}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Ответ</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if userQuestion}
                #{includes.form.field.inputTextArea name: answerRuName, old: userQuestion.answerRu/}
            #{/if}
            #{else}
                #{includes.form.field.inputTextArea name: answerRuName/}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Question</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if userQuestion}
                #{includes.form.field.inputTextArea name: questionEnName, old: userQuestion.questionEn/}
            #{/if}
            #{else}
            #{includes.form.field.inputTextArea name: questionEnName/}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Answer</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if userQuestion}
                #{includes.form.field.inputTextArea name: answerEnName, old: userQuestion.answerEn/}
            #{/if}
            #{else}
                #{includes.form.field.inputTextArea name: answerEnName/}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Показать всем</label>
    </div>
    <div class="control">
        #{if userQuestion && userQuestion.isFaq}
            <input type="checkbox" name="isFaq" checked/>
        #{/if}
        #{else}
            <input type="checkbox" name="isFaq"/>
        #{/else}
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Активный</label>
    </div>
    <div class="control">
        #{if userQuestion && userQuestion.isActive}
        <input type="checkbox" name="isActive" checked/>
        #{/if}
        #{else}
        <input type="checkbox" name="isActive"/>
        #{/else}
    </div>
</div>
