#{extends 'main.html' /}
<section class="questionary-outer">
    <div class="questionary-inner">
        <h1 class="title">&{'layout.account.profile'}</h1>
        <div class="main-block-content">
            <form class="form form-login" action="@{Settings.saveProfile()}" method="POST">
                <div style="margin-bottom: 2rem" class="form__description">&{'settings.profile.confidential'}</div>
                <table class="form-table">
                    <tbody>
                    <tr>
                        <td>
                            <label>&{'settings.firstname'}: <i>*</i></label>
                        </td>
                        <td>
                            <input name="firstName" type="text" placeholder="&{'settings.firstname'}" required
                                   value="${first_name}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>&{'settings.lastname'}: <i>*</i></label>
                        </td>
                        <td>
                            <input name="lastName" type="text" required
                                   value="${last_name}" placeholder="&{'settings.lastname'}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>&{'settings.gender'}: <i>*</i></label>
                        </td>
                        <td>
                            <select name="gender" class="chosen" required>
                                <option></option>
                                <option value="m" #{if gender.toString().equals("m")}selected#{/if}>&{'settings.male'}</option>
                                <option value="f" #{if gender.toString().equals("f")}selected#{/if}>&{'settings.female'}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Email: <i>*</i></label>
                        </td>
                        <td>
                            <input name="email" type="email" placeholder="Email" required
                                   value="${email}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>&{'settings.tel'}: <i>*</i></label>
                        </td>
                        <td>
                            <input name="phone" type="text" placeholder="+7(___)___-__-__" required
                                   value="${phone}">
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp</td>
                        <td>
                            <button class="button-radius-big button_theme_blue" type="submit">&{'settings.save'}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</section>
