<span class="__is-file" data-url="/admin/upload/file/${_path}">
    <input type="hidden" class="__js-upload-hide"
           value="">

    <input class="is-hidden __js-upload-file ${_inputClass}" name="${_name}" type="file" accept="*"/>


    <a href="#upload" class="button __js-upload">
        <span class="icon">
            <i class="fa fa-upload"></i>
        </span>
        <span>Выбрать файл</span>
    </a>
    <span class="${_spanClass} help"></span>

    <a
            href="${_old}" target="_blank"
            class="button is-primary __js-upload-show #{if !_old} is-hidden #{/if}"
    >
        <span class="icon">
            <i class="fa fa-eye"></i>
        </span>
        <span>Открыть файл</span>
    </a>
</span>

#{set 'moreScripts3'}
    <script>
        $(".input-1").on('change', function () {
           $(".span-1").text($(this).val().split('\\')[2]);
        });

        $(".input-2").on('change', function () {
           $(".span-2").text($(this).val().split('\\')[2]);
        });

        $(".input-3").on('change', function () {
           $(".span-3").text($(this).val().split('\\')[2]);
        });

        $(".input-4").on('change', function () {
            $(".span-4").text($(this).val().split('\\')[2]);
        });
    </script>
#{/set}
#{includes.form.error/}
