.contacts__two-columns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  .column {
    width: 50%;

    .form__string {
      margin-bottom: 20px;
      @include clear();
      input, textarea {
        display: block;
        width: 100%;
        border: 2px solid #ebebeb;
        border-radius: 4px;
        font: 16px $font_sans;
        color: #8a8a8a;
      }
      textarea {
        min-height: 200px;
        padding: 5px 15px;
      }
      .button-radius {
        display: block;
        float: right;
        border-radius: 4px;
        padding-right: 40px;
        padding-left: 40px;
        font-size: 19px;
      }
    }
  }
}

.contacts__title {
  font: 18px $font_sans;
  color: $c_black;
  margin-bottom: 15px;
}


@media screen and (max-width: $width_mobile) {
  .contacts__two-columns {
    flex-direction: column;
    .column {
      width: 100%;
    }
  }
}