$buttons-panel-height: 30%;
$content-snippet-width: 90%;
$category-button-literature-color: #5a5ba5;
$category-button-news-color: #37c3f7;
$category-button-instructions-color: #d2383d;
$category-button-course-color: #5AAC30;
$category-button-faq-color: #454993;
$category-button-survey-color: #953993;
$category-button-student-leading-color: #953993;
$category-button-student-management-color: #953993;
$category-button-about-color: #358FBA;
$category-button-all-color: white;
$category-button-all-text-color: #474747;
$on-hover-darken-amount: 8%;

html {
	font-size: 16px;
}

.content-dashboard-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 3rem;
	height: 70%;
}

.left-content {
	width: 25%;

	position: fixed;
	left: 0;

	display: flex;
	flex-direction: column;

}

.right-content {
	width: 25%;

	position: fixed;
	right: 0;

	display: flex;
	flex-direction: column;
}


.center-content {
	// height: 100%;
	flex-basis: 50%;

	margin-left: auto;
	margin-right: auto;
}

//buttons
.content-button {
	margin-left: auto;
	margin-right: auto;
	/* Rectangle 2 Copy: */
	background: rgba(63,177,237,0.34);
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.50);
	border-radius: 20px;
	height: 5rem;
	width: 16rem;
	border: none;
	/* ЛИТЕРАТУРА: */
	font-family: $font_roboto;
	font-size: 1rem;
	color: white;
	margin-bottom: 1rem;

	//update after changing <button> to <a>
	text-align: center;
	line-height: 5rem;
}

//hidden footer for small devices
.content-button-footer-sm {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 9rem;
	background-color: rgba(41,128,185, 1);
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	display: none;

	//render on top other things
	z-index: 999;
}

.sm {
	height: 5rem;
	width: 5rem;
	font-size: 1.7rem;
	border-radius: 50%;
	margin-bottom: 0;
}

.content-snippet {
	width: $content-snippet-width;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5rem;
	display: flex;
	flex-direction: row; 

	/* main_content: */
	background: #FFFFFF;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.50);
	border-radius: 5px;


	.content-snippet-color {
		flex-basis: 8%;
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
	}

	.content-snippet-color.instruction {
		background-color: $category-button-instructions-color;
	}

	.content-snippet-color.literature {
		background-color: $category-button-literature-color;
	}

	.content-snippet-color.new {
		background-color: $category-button-news-color;
	}

	.content-snippet-content {
		//persistent flex-basis, based on parent width
		flex-basis: (65%/$content-snippet-width * 100) * 1%;
		margin-left: auto;
		margin-right: auto;

		

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.content-snippet-image {
			width: 100%;
			height: 12rem;
		}

		.content-snippet-title {
			/* heading copy: */
			font-family: $font_roboto;
			font-size: 1.4rem;
			color: #444444;
		}

		.content-snippet-subtitle {
			/* sub-heading: */
			font-family: $font_sans;
			font-size: 1rem;
			color: #5E5E5E;
		}

		.content-snippet-more {
			/* Подробнее: */
			font-family: $font_sans;
			font-weight: bold;
			font-size: 0.8rem;
			color: #777373;
			align-self: flex-end;
		}

		.content-snippet-more:hover {
			color: black;
		}
	}
}

//button colors
.category-button-literature {
	background: $category-button-literature-color;
}

.category-button-literature:hover {
	background: darken($category-button-literature-color, $on-hover-darken-amount);
}

.category-button-new {
	background: $category-button-news-color;
}

.category-button-new:hover {
	background: darken($category-button-news-color, $on-hover-darken-amount);
}

.category-button-instruction {
	background: $category-button-instructions-color;
}

.category-button-instruction:hover {
	background: darken($category-button-instructions-color, $on-hover-darken-amount);
}

.category-button-all {
	background: $category-button-all-color;
	color: $category-button-all-text-color;
}

.category-button-all:hover {
	background: darken($category-button-all-color, $on-hover-darken-amount);
}

.category-button-course {
	background: $category-button-course-color;
	color: white;
}

.category-button-survey {
	background: $category-button-survey-color;
	color: white;
}

.category-button-survey:hover {
	background: darken($category-button-survey-color, $on-hover-darken-amount);
	color: white;
}

.category-button-student-leading {
	background: $category-button-student-leading-color;
	color: white;
}

.category-button-student-leading:hover {
	background: darken($category-button-student-leading-color, $on-hover-darken-amount);
	color: white;
}

.category-button-faq {
	background: $category-button-faq-color;
	color: white;
}

.category-button-faq:hover {
	background: darken($category-button-faq-color, $on-hover-darken-amount);
	color: white;
}

.category-button-course:hover {
	background: darken($category-button-course-color, $on-hover-darken-amount);
}

.category-button-about {
	background: $category-button-about-color;
	color: white;
}

.category-button-about:hover {
	background: darken($category-button-about-color, $on-hover-darken-amount);
}

//helpers
.mb-1 {
	margin-bottom: 5px !important;
}

.mb-2 {
	margin-bottom: 10px !important;
}

.mb-3 {
	margin-bottom: 30px !important;
}

.mt-1 {
	margin-top: 5px !important;
}

.mt-2 {
	margin-top: 10px !important;
}

.mt-3 {
	margin-top: 30px !important;
}


.no-margin-tb {
	margin-top: 0;
	margin-bottom: 0;
}

.clear { clear: both; }

//media queries
@media all and (min-width: 896px) and (max-width: 1130px) {
	html {
		font-size: 12px;
	}


}

@media all and (min-width: 768px) and (max-width: 896px) {
	html {
		font-size: 10px;
	}

	.content-button {
		height: 5rem;
		width: 16rem;
		font-size: 1rem;
	}

}

@media all and (min-width: 576px) and (max-width: 768px) {
	html {
		font-size: 10px;
	}

	.content-button {
		height: 5rem;
		width: 16rem;
		font-size: 1rem;
		line-height: 5rem;
	}

}

@media all and (min-width: 480px) and (max-width: 576px) {
	html {
		font-size: 10px;
	}

	.center-content {
		flex-basis: 80%;
	}

	.left-content, .right-content {
		display: none;
	}

	.content-button-footer-sm {
		display: flex;
	}

}

@media all and (max-width: 480px) {
	html {
		font-size: 10px;
	}

	.center-content {
		flex-basis: 90%;
	}

	.left-content, .right-content {
		display: none;
	}

	.content-button-footer-sm {
		display: flex;
	}
}