.header-block-outer {
  @include sbg($color: #22aed6, $size: cover);
  position: relative;
  z-index: 10;

  .header-block-inner {
    max-width: 1172px;
    padding: 20px 30px;
    min-height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.header-block__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

//Header block title
.header-block__title {
  font: 300 35px $font_roboto;
  color: $c_white;
  text-transform: uppercase;
  margin-bottom: 10px;
}

//Header block description
.header-block__description {
  font: 300 25px $font_roboto;
  color: $c_white;
}

.header-block__left {
  padding-right: 20px;
}

.header-block__right {
  padding-top: 8px;
  min-width: 200px;

  .course-block__desc-bookmark {
    position: relative;
    top: 0;
    right: 0;
    float: right;
    &:after {
      font-size: 32px;
      color: $c_white;
    }
    &.is-active {
      &:after {
        color: $c_blue;
      }
    }
  }
}

//Header block sort
.header-block__sort {
  display: block;
  font: 16px $font_roboto;
  color: rgba($c_white, .7);
  position: relative;
  i {
    font-style: normal;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    color: $c_white;
    &:after {
      content: '';
      font: 16px $font_awesome;
      position: absolute;
      z-index: 9;
      top: -2px;
      right: -20px;
      display: block;
    }
  }
}


.header-block__sort-subwindow {
  display: none;
  position: absolute;
  z-index: 9;
  top: 100%;
  margin-top: 10px;
  right: -20px;
  border-radius: 10px;
  background-color: $c_white;
  padding: 20px;
  box-shadow: 3px 3px 5px rgba($c_black, .1);
  .__triangle {
    position: absolute;
    z-index: 8;
    top: -16px;
    right: 30px;
    display: block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    &:after {
      content: '';
      margin-top: 12px;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $c_white;
      transform: rotate(45deg);
    }
  }
}


ul.header-block__sort-list {
  white-space: nowrap;
  li {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: #016FB5;
      &:hover {
        border-bottom: 1px solid darken(#016FB5, 1%);
      }
    }
  }
}


//Header block navigation
.header-block__navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  //align-items: stretch;
}
.header-block__navigation-device {
  display: none;
}

.header-block__path {
  margin-right: 130px;
  max-width: 40%;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    z-index: 9;
    top: 50%;
    margin-top: -36px;
    right: -73px;
    display: block;
    @include sprite($icons-arrow-right-big-white);
  }
  &:nth-child(2) {
    .header-block__title {
      white-space: nowrap;
    }
  }
  &:last-child {
    margin-right: 0;
    &:after {
      display: none;
    }
  }
  span {
    display: block;
  }
}


//Header block buttons
.header-block__buttons {
  color: $c_white;
  span {
    font: 16px $font_sans;
    margin: 0 16px;
  }
  .button-radius {
    display: inline-block;
  }
}


@media screen and (max-width: $width_tablet) {
  .header-block__wrapper {
    flex-direction: column;
    &.header-block__bookmark {
      flex-direction: row;
      .header-block__right {
        width: 40px;
        min-width:40px;
        padding-top: 10px;
        .course-block__desc-bookmark {
          float: right;
        }
      }
    }
  }
  .header-block__left {
    width: 100%;
  }
  .header-block__right {
    padding-top: 15px;
    .course-block__desc-bookmark {
      float: left;
    }
  }
  .header-block__path {
    margin-right: 70px;
    &:after {
      right: -43px;
    }
    .header-block__title {
      font-size: 26px;
    }
  }
  .header-block__sort-subwindow {
    right: auto;
    left: 0;
    .__triangle {
      right: auto;
      left: 150px;
    }
  }
}

@media screen and (max-width: $width_mobile) {
  .header-block-outer {
    .header-block-inner {
      min-height: 150px;
      padding: 20px 15px;
    }
  }
  .header-block__title {
    font-size: 24px;
  }
  .header-block__left, .header-block__right {
    width: 100%;
  }
  //Header block buttons
  .header-block__buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    span {
      display: none;
    }
  }

  //Header block navigation
  .header-block__navigation {
    display: none;
  }
  .header-block__navigation-device {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .header-block__path-prev, .header-block__path-next {
      display: flex;
      align-items: center;
      width: 30px;
      min-width: 30px;
      height: 72px;
      &:after {
        content: '';
        display: block;
      }
      &.__hidden {
        visibility: hidden;
      }
    }
    .header-block__path-prev {
      justify-content: flex-start;
      &:after {
        @include sprite($icons-arrow-right-big-white);
        transform: rotate(180deg);
      }
    }
    .header-block__path-next {
      justify-content: flex-end;
      &:after {
        @include sprite($icons-arrow-right-big-white);
      }
    }
    .header-block__path {
      max-width: 80%;
      margin-right: 0;
      padding: 0 20px;
      &:after {
        display: none;
      }
      .header-block__title {
        white-space: normal;
        font-size: 24px;
      }
    }
  }

  .header-block__sort {
    display: inline-block;
  }
  .header-block__sort-subwindow {
    min-width: 290px;
  }
  ul.header-block__sort-list {
    white-space: normal;
  }
}