@mixin slide_block_theme($name: default, $color: #000) {
  .slide-block_theme_#{$name} {
    .slide-block__information-title {
      color: $color;
    }
    .slide-block__information-text {
      strong {
        color: $color;
      }
    }
  }
}

.home-page-slides-outer {

}

.slide-block {
  @include sbg($position: center 0);
  box-shadow: 0 4px 8px rgba($c_black, .45);
  position: relative;
  overflow: hidden;

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      z-index: 50 - $i;
    }
  }

  &:nth-child(odd) {
    .slide-block-inner {
      justify-content: flex-end;
      .slide-block__information-wrapper {
        //padding-right: 80px;
        text-align: left;
      }
    }
  }
  &:nth-child(even) {
    .slide-block-inner {
      //justify-content: flex-start;
      justify-content: space-between;
      .slide-block__information-wrapper {
        //padding-left: 80px;
        text-align: right;
      }
    }
  }
}

@include slide_block_theme(blue-dark, #3f4096);
@include slide_block_theme(purple, #953993);
@include slide_block_theme(aqua, #00b0f0);
@include slide_block_theme(green, #217359);
@include slide_block_theme(blue, #285b97);

#slide-block-1 .slide-block__information-wrapper {
  top: 0 !important;
  opacity: 1 !important;
}

#slide-block-3 {
  background-position: center 50%;
}

.slide-block-bg-inner, .slide-block-bg-outer {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  @include sbg($position: left -15px);
}

.slide-block-bg-inner {
  left: 50%;
  transform: translateX(-50%);
  @include sbg($position: left 50px);
}

.slide-block-inner {
  position: relative;
  z-index: 2;
  height: 780px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.slide-block__information-wrapper {
  width: 50%;
  position: relative;
  top: 100px;
  opacity: 0;
  padding-right: 20px;
  padding-left: 20px;
  &.no-anim {
    opacity: 1;
    top: 0;
  }
}

.slide-block__information {
  @include sbg($color: rgba($c_white, .51), $position: left top, $size: 73px 73px);
  padding-right: 35px;
  padding-left: 90px;
  position: relative;
  display: inline-block;
  text-align: left;
  max-width: 698px;
  &:after {
    content: '';
    position: absolute;
    z-index: 9;
    top: 100%;
    right: 0;
    display: block;
    width: 100%;
    max-width: 480px;
    height: 20px;
    @include sbg();
    background-image: url(../images/home_block_bottom.jpg);
  }
}

.slide-block__information-title {
  width: 100%;
  min-height: 73px;
  padding-top: 20px;
  font: 30px $font_roboto;
  //color: #3f4096;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.slide-block__information-text {
  font: 24px $font_sans;
  color: $c_black;
  padding-bottom: 32px;
  strong {
    font-weight: bold;
  }
}

.video-block-wrapper {
  position: relative;
  top: 100px;
  opacity: 0;
  width: 50%;
  padding-right: 20px;
  padding-left: 20px;
  &.no-anim {
    opacity: 1;
    top: 0;
  }
}

.video-block {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 680px;
  //height: 424px;
  @include sbg($color: rgba(255,255,255,.3), $size: cover);
  @include resp_height($height: 424 / 680 * 100%);
  box-shadow: 6px 6px 0 rgba($c_black, .15);
  cursor: pointer;
  iframe {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border:0;
    outline:none;
    cursor: pointer;
  }
}

.carousel-block {
  position: relative;
  top: 100px;
  opacity: 0;
  right: -67px;
  padding-right: 60px;
  padding-left: 60px;
  &.no-anim {
    opacity: 1;
    top: 0;
  }
}

.carosel-block-wrapper {
  //position: relative;
  //z-index: 10;
  width: 765px;
  height: 528px;
  @include sbg($size: contain);
  background-image: url(../images/home_video_frame.png);
}

.carousel-block__nav-prev, .carousel-block__nav-next {
  width: 55px;
  height: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9;
  top: 50%;
  margin-top: -142px;
  background-color: rgba($c_white, .51);
  cursor: pointer;
  &:after {
    content: '';
    display: block;
  }
}

.carousel-block__nav-prev {
  //left: -47px;
  left: 13px;
  &:after {
    @include sprite($icons-arrow-left-big-green);
  }
}

.carousel-block__nav-next {
  //right: -29px;
  right: 31px;
  &:after {
    @include sprite($icons-arrow-right-big-green);
  }
}

.carousel-block__carousel {
  max-width: 586px;
  height: 441px;
  overflow: hidden;
  position: relative;
  top: 34px;
  left: 79px;
  .__item {
    height: 441px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      width: auto !important;
      max-width: 100%;
      max-height: 100%;
    }
  }
}


@media screen and (max-width: 1680px) {
  .carousel-block {
    right: 0;
  }
}


@media screen and (max-width: 1400px) {
  .carousel-block {
    right: 0;
  }
  .carosel-block-wrapper {
    width: 668px;
  }
  .carousel-block__carousel {
    max-width: 511px;
    height: 385px;
    top: 63px;
    left: 69px;
    .__item {
      height: 385px;
    }
  }
}


@media screen and (max-width: $width_tablet) {
  .slide-block-inner {
    flex-direction: column;
    height: auto;
    padding-top: 50px;
    //padding-bottom: 50px;
  }
  .slide-block__information-wrapper, .video-block-wrapper, .carousel-block {
    top: 0;
    opacity: 1;
    margin-bottom: 50px;
  }
  .slide-block__information-wrapper, .video-block-wrapper {
    width: 100%;
  }
  .slide-block__information, .video-block {
    max-width: 728px;
  }
}


@media screen and (max-width: 899px) {
  .carousel-block {
    margin: 0 auto;
  }
}


@media screen and (max-width: $width_mobile) {
  .slide-block {
    background-size: cover;
  }

  .slide-block__information {
    padding-right: 15px;
    padding-left: 15px;
    background-color: rgba($c_white, .8);
  }
  .slide-block__information-top {
    padding-left: 67px;
  }
  .slide-block__information-title {
    display: flex;
    align-items: center;
    font-size: 23px;
    padding-top: 0;
  }
  .slide-block__information-text {
    font-size: 18px;
  }

  .video-block-wrapper, .video-block {
    max-width: 100%
  }
  .video-block {
    //height: 200px;
  }

  .carousel-block {
    display: none;
  }
}