.main-block-outer {
  .main-block-inner {
    max-width: 1272px;
    padding: 30px 21px;
  }
}

.main-block-content__two-columns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  .__column-left {
    @include cl_w(695, 1130);
    display: block;
    margin-right: 20 / 1130 * 100%;
    .main-block-content {
      padding: 30px 40px;
      margin-bottom: 20px;
      .media-block {
        margin-bottom: 25px;
      }
      .main-block-content__text {
        border-top: 1px solid #c6ced0;
        margin-bottom: 20px;
      }
    }
  }
  .aside-materials {
    @include cl_w(415, 1130);
    .button.button_theme_green {
      font: 300 22px $font_roboto;
      color: $c_white;
      text-align: center;
      border-radius: 15px;
      display: block;
      padding: 25px 20px;
      background-color: #69bb08;
      box-shadow: 3px 3px 3px rgba($c_black, .06);
      &:hover {
        background-color: darken(#69bb08, 5%);
      }
    }
  }
}

.aside-materials__wrapper {
  background-color: $c_white;
  box-shadow: 3px 3px 3px rgba($c_black, .06);
  border-radius: 15px;
  padding: 25px 20px 20px;
  margin-bottom: 20px;
}

.aside-materials__title {
  font: 300 18px $font_roboto;
  color: #758b91;
  text-align: center;
  margin-bottom: 20px;
}

.download {
  display: block;
  width: 100%;
  position: relative;
  font: 300 14px $font_roboto;
  color: $c_black;
  text-align: center;
  padding: 13px 60px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color .2s ease-in;
  &:hover {
    transition: background-color .2s ease-in;
  }
  &:before, &:after {
    position: absolute;
    z-index: 9;
    font: 24px $font_awesome;
  }
  &:before {
    top: 0;
    left: 0;
    color: $c_white;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:after {
    content: '';
    right: 17px;
    top: 50%;
    margin-top: -10px;
  }
}

.download_theme_pdf {
  background-color: #ffd1c3;
  &:hover {
    background-color: darken(#ffd1c3, 5%);
  }
  &:before {
    content: '';
    background-color: #f69679;
  }
  &:after {
    color: #f69679;
  }
}

.download_theme_doc {
  background-color: #9fe1f7;
  &:hover {
    background-color: darken(#9fe1f7, 5%);
  }
  &:after {
    color: #79c7e2;
  }
}

.upload {
  @extend .download;
  &:after {
    content: '';
    margin-top: -11px;
  }
  + input[type="file"] {
    display: none;
  }
}

.upload_theme_doc {
  @extend .download_theme_doc;
  background-color: #ffc66c;
  &:hover {
    background-color: darken(#ffc66c, 5%);
  }
  &:before {
    background-color: #e3aa4f;
  }
  &:after {
    color: #e3aa4f;
  }
}


.main-block-content {
  width: 100%;
  background-color: $c_white;
  border-radius: 15px;
  padding: 30px 75px;
  box-shadow: 3px 3px 3px rgba($c_black, .06);

  .media-block {
    //max-width: 714px;
    max-width: 100%;
    margin: 0 auto 30px;
    @include resp_height($display: table, $height: 446 / 714 * 100%)
  }
}

.main-block-content__title {
  @extend .title;
  color: #22aed6;
  text-align: center;
  margin-bottom: 21px;
}

.main-block-content__text {
  font: 16px $font_sans;
  color: $c_grey;
  margin-bottom: 35px;
}

.main-block-content__diagram-line {
  width: 100%;
  display: table;
  //display: block;
  //text-align: justify;
  //&:after {
  //  content: '';
  //  display: inline-block;
  //  width: 100%;
  //}
}

.main-block-content__test-pagination {
  width: 100%;
  padding: 55px 0;
  text-align: center;
  ul.test-pagination {
    display: inline-flex;
  }
}

.content-text_theme_black {
  color: $c_black;
}

.main-block-content__bottom-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .button-radius {
    display: block;
    font-size: 18px;
    padding: 10px 25px 11px;
  }
}

ul.column-three, ul.column-two {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  li {
    width: 33.333333333333%;
    text-align: center;
    .button-radius {
      display: inline-block;
    }
  }
}

ul.column-two {
  li {
    width: 50%;
    &:first-child {
      text-align: left
    }
    &:last-child {
      text-align: right;
    }
  }
}

//Content catalog columns
.content-catalog-columns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 18px 0;
}

.content-catalog-columns__left, .content-catalog-columns__right {
}

.content-catalog-columns__left {
  @include cl_w(612, 1112);
  margin-right: 20 / 1112 * 100%;
}

.content-catalog-columns__right {
  @include cl_w(480, 1112);
  .material-block__desc-middle {
    margin-bottom: 0;
  }
  .material-block__desc-text {
    a {
      margin-right: 18px;
      color: $c_grey;
      &:hover {
        border-bottom: 1px solid darken($c_grey, 1%);
      }
      &.is-active {
        color: $c_blue;
        border-bottom: 1px solid darken($c_blue, 1%);
      }
    }
  }
}

//Specialist page
.specialist-page {
  .main-block-content {
    padding-bottom: 55px;
  }
  .main-block-content__bottom-buttons {
    .button-radius {
      min-width: 240px;
    }
  }
}

//Specialist dashboard page
.specialist-dashboard-page {
  .main-block-content {
    padding: 20px 30px 30px;
    .main-block-content__title {
      text-align: left;
      margin-bottom: 8px;
      color: $c_blue;
    }
    .main-block-content__text {
      margin-bottom: 0;
    }
  }
  .course-block {
    padding: 20px 5px;
    margin-bottom: 0;
  }
}

//Specialist course page
.specialist-course-page {
  .main-block-inner {
    padding: 40px 0;
  }
  .course-block {
    padding: 20px 70px;
    margin-bottom: 0;
  }
  .course-block__desc-text, .course-block__desc-progress-bar {
    max-width: 500px;
  }
}
//Warning page
.warning-page {
  .main-block-content {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .main-block-content__text {
    font-size: 18px;
    color: #758b91;
    text-align: center;
  }
  .main-block-content__bottom-buttons {
    display: block;
    text-align: center;
    .button-radius {
      display: inline-block;
      border-radius: 4px;
      padding-right: 40px;
      padding-left: 40px;
    }
  }
}

//About page
.about-page {
  .main-block-content__text {
    font-size: 16px;
    color: $c_black;
    h1 {
      color: $c_black;
    }
  }
}

//Contacts page
.contacts-page {
  .main-block-content__text {
    font-size: 18px;
    color: $c_black;
  }
}

.specialist-title {
  @extend .title;
  color: $c_blue;
  text-transform: none;
  padding: 20px 0 40px 30px;
  margin-bottom: 11px;
}

//Table statistic
table.table-statistic {
  tr {
    td {
      font: 16px $font_sans;
    }
  }
  thead {
    tr {
      td {
        color: $c_grey;
        text-align: center;
        padding: 9px 10px 11px;
        &:nth-child(1) {
          width: 30%;
        }
        &:nth-child(2), &:nth-child(3) {
          width: 25%;
        }
        &:nth-child(4) {
          width: 20%;
        }
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid #cccccc;
      &:nth-child(odd) {
        background-color: #f0f0f0;
      }
      td {
        color: $c_blue;
        text-align: center;
        padding: 20px 10px;
        position: relative;
        white-space: nowrap;
        &:last-child {
          &:after {
            display: none;
          }
        }
        &:after {
          content: '';
          position: absolute;
          z-index: 1;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          width: 1px;
          height: 100px;
          background-color: #ccc;
        }
        a {
          color: $c_blue;
        }
      }
    }
  }
}

.table-title {
  font: 16px $font_sans;
  color: $c_blue;
  padding-left: 68px;
  margin-bottom: 10px;
}

.table-statistic__date {
  margin-right: 40px;
}

.table-statistic__status-done {
  color: $c_done;
}

.table-statistic__status-undone {
  color: $c_undone;
}


@media screen and (max-width: $width_tablet) {
  //Specialist page
  .specialist-page {
    .main-block-content {
      padding-bottom: 25px;
    }
  }
  //Specialist course page
  .specialist-course-page {
    .course-block {
      padding: 20px 0 20px 48px;
      margin-bottom: 0;
    }
  }
  .specialist-dashboard-page {
    .main-block-content {
      padding: 25px 20px;
    }
  }
  //Warning page
  .warning-page {
    .main-block-content__text {
      font-size: 20px;
    }
  }
  //About page
  .about-page {
    .main-block-content__text {
      font-size: 20px;
    }
  }


  .course-block__progress-point-wrapper {
    left: 0;
  }

  .main-block-outer {
    .main-block-inner {
      padding: 25px 20px;
    }
  }

  .main-block-content {
    padding-right: 25px;
    padding-left: 25px;
  }
  .main-block-content__text {
    font-size: 20px;
  }

  .content-catalog-columns {
    flex-direction: column;
    padding: 0;
  }

  .content-catalog-columns__left, .content-catalog-columns__right {
    width: 100%;
  }

  .content-catalog-columns__right {
    order: 1;
    margin-bottom: 23px;
    .material-block__desc-middle {
      margin-bottom: 0;
    }
  }

  .content-catalog-columns__left {
    order: 2;
  }

  .main-block-content__bottom-buttons {
    flex-direction: column;
    .button-radius {
      margin-bottom: 20px;
    }
  }

  ul.column-three {
    flex-direction: column;
    li {
      width: 100%;
    }
  }

  //Table statistic
  table.table-statistic {
    tr {
      td {
        font-size: 20px;
      }
    }
  }
  .table-title {
    font-size: 20px;
    padding-left: 0;
  }
  .table-statistic__date {
    margin-right: 20px;
  }
}

@media screen and (max-width: 859px) {
  .main-block-content__two-columns {
    flex-direction: column;
    .__column-left, .aside-materials {
      width: 100%;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: $width_mobile) {
  //Specialist page
  .specialist-page {
    .main-block-content {
      padding-bottom: 20px;
    }
  }
  //Specialist course page
  .specialist-course-page {
    .course-block {
      padding: 20px 0;
    }
  }
  .specialist-dashboard-page {
    .main-block-content {
      padding: 20px 15px;
    }
    .course-block {
      padding-right: 0;
      padding-left: 0;
    }
    .course-block__body-step {
      padding-top: 30px;
    }
  }
  //Warning page
  .warning-page {
    .main-block-content {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .main-block-content__text {
      font-size: 18px;
    }
  }
  //About page
  .about-page {
    .main-block-content__text {
      font-size: 16px;
    }
  }

  .main-block-outer {
    .main-block-inner {
      padding: 20px 15px;
    }
  }
  .main-block-content {
    padding: 20px 15px;
  }
  .main-block-content__title {
    font-size: 24px;
  }
  .main-block-content__test-pagination {
    padding: 20px 0;
    ul.test-pagination {
      display: block;
    }
  }

  .specialist-title {
    font-size: 24px;
    padding: 20px 0;
    margin-bottom: 0;
  }
  ul.column-two {
    flex-direction: column;
    li {
      width: 100%;
      &:first-child {
        text-align: center
      }
      &:last-child {
        text-align: center;
        .button-radius {
          margin-bottom: 0;
        }
      }
    }
  }

  //Table statistic
  .table-statistic__wrapper {
    width: 100%;
    display: block;
    overflow-x: scroll;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}