$on-hover-darken-amount: 8%;
$student-leading-button-color: #5cb85c;

.student-leading-form-wrapper {
	background: white;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding-top: 3rem;
	padding-bottom: 3rem;
	font-family: 'Roboto';
	text-align: center;
	border-radius: 1.5rem;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.06);
}

.student-leading-form {
	margin-top: 3rem;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;

	font-family: 'Roboto';

	.student-leading-form-label-input {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		label {
			margin-left: auto;
			margin-right: 15px;
			font-size: 1.1rem;
		}


		.student-leading-form-input {
			font-size: 16px;
			flex-basis: 50%;
			padding: 12px 20px;
			border: 2px solid #c8d3d8;
		}

		.student-leading-form-select {
			background: white;
			height: 3rem;
			border: 0;
			font-size: 16px;
			flex-basis: 50%;
			padding: 12px 20px;
			outline: 2px solid #c8d3d8;
		}

		.student-leading-form-select:focus {
			// outline: none;
		}

		margin-bottom: 20px;
	}

	.student-leading-submit-button {
		background-color: $student-leading-button-color;
		border: none;
		color: white;
		text-align: center;
		padding: 15px 32px;
		text-decoration: none;
		font-size: 1rem;
		font-weight: 700;
	}

	.student-leading-submit-button:hover {
		background-color: darken($student-leading-button-color, $on-hover-darken-amount);
		border: none;
		color: white;
		text-align: center;
		padding: 15px 32px;
		text-decoration: none;
		font-size: 1rem;
		font-weight: 700;
	}
}

//media queries
@media all and (min-width: 896px) and (max-width: 1130px) {
	.student-leading-form-wrapper {
		width: 80%;
	}
}

@media all and (min-width: 768px) and (max-width: 896px) {
	.student-leading-form-wrapper {
		width: 80%;
	}
}

@media all and (min-width: 576px) and (max-width: 768px) {
	.student-leading-form-wrapper {
		width: 95%;
	}
}

@media all and (max-width: 576px) {
	.student-leading-form-wrapper {
		width: 95%;
	}
}