$survey-button-interrupt-color: #d9534f;
$survey-button-code-submit-color: hsl(217, 71%, 53%);
$survey-modal-color: #d9534f;
$on-hover-darken-amount: 8%;


.initial-code-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 50%;

  .initial-code-wrapper-title {
    font-family: 'Roboto';
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: hsl(0, 0%, 48%);
  }

  .initial-code-wrapper-input {
    width: 100%;
    font-size: 16px;
    flex-basis: 50%;
    padding: 6px 10px;
    font-size: 2rem;
    font-family: 'Open Sans';
    border: 2px solid #c8d3d8;
    margin-bottom: 0.5rem;
  }

   .psycho-name-wrapper-input {
    width: 100%;
    font-size: 16px;
    flex-basis: 50%;
    padding: 6px 10px;
    font-size: 2rem;
    font-family: 'Open Sans';
    border: 2px solid #c8d3d8;
    margin-bottom: 0.5rem;
  }

  #code-submit {
    width: 100%;
    background: $survey-button-code-submit-color;
    cursor: pointer;
    border: none;
    color: white;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
  }

  #code-submit:hover {
  	background-color: darken($survey-button-code-submit-color, $on-hover-darken-amount)
  }
}



.survey-header {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-family: 'Roboto';
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: hsl(171, 100%, 41%);
  z-index: 1000;
}

.danger {
  color: $survey-button-interrupt-color;
}



.success {
  color: $survey-button-color;
}

.danger-bg {
  background-color: $survey-button-interrupt-color;
}

.danger-bg-static {
	background-color: $survey-button-interrupt-color;
}

.danger-bg:hover {
	background-color: darken($survey-button-interrupt-color, $on-hover-darken-amount);
}

.success-bg {
  background-color: $survey-button-color;
}

.white-bg {
	background-color: white;
}

.white-bg:hover {
	background-color: darken(white, $on-hover-darken-amount);
}

.success-bg:hover {
	background-color: darken($survey-button-color, $on-hover-darken-amount);
}

.modal-overlay {
  background-color: black;
  opacity: 0.4;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.modal {
  z-index: 100000;
  margin: 0;
    position: fixed;
    width: 50%;
    min-height: 20rem;
    left: 25%;
    top: 15%;
    border-radius: 8px;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.06);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.06);

    

    .modal-header {
      font-size: 1.5rem;
      font-family: 'Roboto';
      margin-top: 10%;
      font-weight: 400;
      text-align: center;
    }

    .modal-big {

    }

    .modal-footer {
      display: flex;
      justify-content: space-around;
      position: absolute;
      width: 100%;
      bottom: 20px;

      .modal-survey-yes {
      	cursor: pointer;
        border: none;
        text-align: center;
        padding: 15px 32px;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 700;
        box-shadow: none;
        border-radius: 3px;
      }

      .modal-survey-no {
      	cursor: pointer;
        border: none;
        text-align: center;
        padding: 15px 32px;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 700;
        box-shadow: none;
        border-radius: 3px;
      }
  }
}

.modal-short {
	min-height: 15rem;
}

.survey-test-table {
    table-layout: fixed;
    width: 100%;
    th {
      background-color: #dbf7ff;
    }

}

.survey-test-table.fixed {
  z-index: 10;
}

.hint-small {
	margin-top: 0.5rem;
	font-size: 1rem;
}

.table-spacer {
  height: 2rem;
}

.survey-question {

  .survey-legend {
    font-size: 1.5rem;
    font-family: 'Roboto';
    font-weight: 400;
  }

  .full-w {
    width: 100%;
  }

  input[type=text] {
    width: 100%;
    font-size: 1.5rem;
    padding: 6px 10px;
    font-family: 'Open Sans';
    background-color: transparent;
    border: none;
    border-bottom: 2px solid hsl(0, 0%, 71%);
  }

  input[type=text]:focus {
    outline: none;
    border-bottom: 2px solid black;

  }

  input[type="radio"] {
    opacity: 0;
    position: absolute;
  }

  input[type="radio"] + .helping-el {
  	cursor: pointer;
    background-color: #dbf7ff;
      border: 2px solid #009688;  
      border-radius: 50%;
      display: inline-block;
      margin-right: 15px;
      padding: 11px;
      position: relative;
      top: 3px;

  }

  input[type="radio"]:checked + .helping-el {
  		cursor: pointer;
      border: 2px solid #009688;
  }
   
  input[type="radio"]:checked + .helping-el:after {
      background-color: #009688;
      border-radius: 50%;
      content: " ";
      font-size: 33px;
      height: 16px;
      left: 3px;
      position: absolute;
      top: 3px;
      width: 16px;
       
  }

  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  /* Special styling for WebKit/Blink */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: hsl(217, 71%, 53%);
    cursor: pointer;
    margin-top: -0.75rem; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */

  }

  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: hsl(217, 71%, 53%);
    cursor: pointer;
  }

  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: hsl(217, 71%, 53%);
    cursor: pointer;
  }

  //range track styling
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.525rem;
    cursor: pointer;
    background: #3071a9;
    border-radius: 5.2px;
    border: none;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 0.525rem;
    cursor: pointer;
    background: #3071a9;
    border-radius: 5.2px;
    border: none;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 0.525rem;
    cursor: pointer;
    background: #3071a9;
    border-radius: 5.2px;
    border: none;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: none;
    border-radius: 5.2px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: none;
    border-radius: 5.2px;
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }
}

.input-range-show {
	font-size: 4rem;
	font-family: 'Roboto';
	font-weight: 300;
}


.survey-answer-submit {
	background-color: $survey-button-color;
	border: none;
	color: white;
	text-align: center;
	padding: 15px 32px;
	text-decoration: none;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 700;
  height: 6.25rem;
  width: 15rem;
  right: 0;
  bottom: 0;
  position: fixed;
}

.survey-answer-submit:hover {
	background-color: darken($survey-button-color, $on-hover-darken-amount);
}

.survey-answer-interrupt {
	cursor: pointer;
	border: none;
	background-color: $survey-button-interrupt-color;
	color: white;
	text-align: center;
	padding: 15px 32px;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 700;
  height: 6.25rem;
  width: 15rem;
  left: 0;
  bottom: 0;
  position: fixed;

}

.survey-answer-interrupt:hover {
	background-color: darken($survey-button-interrupt-color, $on-hover-darken-amount);
}

html, body {
	height: 100%;
	margin: 0 !important;
}

#endMessageSuccess {
  font-size: 4rem;
  font-family: 'Roboto';
  font-weight: 300;
  color: $survey-button-color;
  margin-top: 5rem;
  text-align: center;
}

#questions {
  width: 60%
}

#endMessageFail {
  font-size: 2rem;
  font-family: 'Roboto';
  font-weight: 300;
  margin-top: 5rem;
  text-align: center;
}

#interruptMessage {
  font-size: 4rem;
  font-family: 'Roboto';
  font-weight: 300;
  margin-top: 5rem;
  text-align: center;
}

.survey-wrapper {
	width: 100%;
	height: 100%;
	margin-top: 8rem;

	display: flex;
	align-items: center;
	justify-content: center;
	
}

.survey-question {
	width: 60%;

	.survey-question-text {
		font-size: 4rem;
		font-family: 'Roboto';
		font-weight: 300;
		margin-bottom: 4rem;
	}



	.text-small {
		font-size: 2rem;
	}

}

.survey-answer {
	margin-bottom: 2rem;



	.survey-answer-radio-text {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 1rem;
	}

	.survey-subquestion {
		margin-bottom: 6rem;

		.survey-subquestion-text {
			font-size: 1.5rem;
			font-family: 'Roboto';
			font-weight: 700;
			margin-bottom: 1.5rem;
		}
	}

	.survey-answer-text {
		font-family: "Open Sans";
		display: inline;
		font-size: 1.5rem;
		cursor: pointer;
	}
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.survey-question {
	display: none;
}

.hidden {
	display: none;
}

.current-question {
	display: inline;
}

input[type='range']::-moz-focus-outer { border: 0; }

//media queries
@media all and (min-width: 896px) and (max-width: 1130px) {

}

@media all and (min-width: 768px) and (max-width: 896px) {

}

@media all and (min-width: 576px) and (max-width: 768px) {


}

@media all and (min-width: 480px) and (max-width: 576px) {
	.initial-code-wrapper {
		margin-top: 2rem;
	}

	.survey-wrapper {
		margin-top: 0;
	}

	#questions {
		width: 90%;
	}

	.survey-answer-submit {
		width: 50%;
	}

	.survey-answer-interrupt {
		width: 50%;
	}

	.survey-answer {
		margin-bottom: 10rem;
	}

	.survey-question {
		.survey-question-text {
			font-size: 3.5rem;

		}

		.text-small {
			font-size: 2rem;
		}
	}

	.modal {
		min-height: 25rem;
		width: 80%;
		left: 10%;
	}

	.modal-short {
		min-height: 15rem;
	}




}

@media all and (max-width: 480px) {
	.initial-code-wrapper {
		margin-top: 2rem;
	}

	.survey-wrapper {
		margin-top: 0;
	}

	#questions {
		width: 90%;
	}

	.survey-answer-submit {
		width: 50%;
	}

	.survey-answer-interrupt {
		width: 50%;
	}

	.survey-answer {
		width: 340px;
		margin-bottom: 10rem;
		overflow-x: auto;
		min-height: 100px;
	}

	.survey-question {
		.survey-question-text {
			font-size: 3.5rem;

		}

		.text-small {
			font-size: 2rem;
		}
	}

	.modal {
		min-height: 25rem;
		width: 80%;
		left: 10%;
	}

	.modal-short {
		min-height: 15rem;
	}

	.survey-test-table {
		width: 600px;
	}

	#q14-table {
		width: 450px;
	}
	
}

@media all and (max-width: 320px) {
	.initial-code-wrapper {
		margin-top: 2rem;
	}

	.survey-wrapper {
		margin-top: 0;
	}

	#questions {
		width: 90%;
	}

	.survey-answer-submit {
		width: 50%;
	}

	.survey-answer-interrupt {
		width: 50%;
	}

	.survey-answer {
		width: 290px;
		margin-bottom: 10rem;
		overflow-x: auto;
		min-height: 100px;
	}

	.survey-question {
		.survey-question-text {
			font-size: 3.5rem;

		}

		.text-small {
			font-size: 2rem;
		}
	}

	.modal {
		min-height: 25rem;
		width: 80%;
		left: 10%;
	}

	.modal-short {
		min-height: 15rem;
	}

	.survey-test-table {
		width: 600px;
	}

	#q14-table {
		width: 450px;
	}
	
}