$on-hover-darken-amount: 8%;
$survey-button-color: #0072bc;

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;

}

.flex {
	display: flex;
}

.flex-50 {
	flex-basis: 50%;
}

.survey-table-wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.survey-risk-count {
	color: #757575; 
	font-weight: 500;
}

.survey-risk-count-bold {
	font-weight: bold;
}

.survey-risk-count-wrapper {

	.mb-1r {
		margin-bottom: 1rem;
	}


	background-color: white;
	display: flex;
	padding: 1rem 2rem;
	border-radius: 5px;
	margin-bottom: 1rem;
	border: 2px solid #ded9d9;
	width: 50%;
}

.survey-risk-count-wrapper-small {
	width: 25%;
}

.survey-form-select-result {
	margin-right: auto;
	margin-left: 0.5rem;
	flex-basis: 50%;
}

.survey-form-select-filter {
	margin-left: auto;
	margin-right: 0.5rem;
	flex-basis: 50%;
}

.survey-form-code {
	display: flex;
}

.scroll-warning-sm {
	text-align: center; 
	font-size: 1.5rem; 
	margin-top: 4rem; 
	color: #FFB300;
	display: none;
}

.survey-form-code-submit {
	padding: 14px 15px;
	background: #0072bc;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 1rem; 
	font-weight: 600;
	height: 100%;
	flex-basis: 30%;
}

.survey-form-select {
	
	background: white;
	font-size: 1rem;

	padding: 12px;
	border: 2px solid #c8d3d8;
	border-radius: 0 !important;


}

// .survey-form-select:focus {
// 	border: 0;
// 	outline: 2px solid #c8d3d8;
// }

.survey-form-code-input {
	font-size: 1rem;
	flex-basis: 70%;
	border: 2px solid #c8d3d8;
	border-radius: 0;
	padding: 12px;
	height: 100%;
	margin-right: 0.5rem;
}

#survey-table {
	font-family: 'Roboto';
	font-weight: 300;

	background: white;
	border: 1px solid #ded9d9;

	th, td {

		text-align: left;
		padding: 15px;
	}

	th {
		background: #0092bc;
		color: white;
	}

	tr:nth-child(even) {background-color: #f2f2f2}
	tr:hover {background: #ddd}

	.status {
		font-weight: 500;
	}

	.status.status-pass {
		color: #5cb85c;
	}

	.status.status-interrupted {
		color: #c9302c;
	}

	.status.status-fail {
		color: #ec971f;
	}
}

.delete-icon {
	color: #636c72;
}

.delete-icon:hover {
	color: black;
}

.survey-control-buttons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.survey-button {
	background: $survey-button-color;
	border: none;
	color: white;
	text-align: center;
	padding: 15px 32px;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 700;
}

.survey-button:hover {
	background: darken($survey-button-color, $on-hover-darken-amount);
}

//media queries
@media all and (min-width: 896px) and (max-width: 1130px) {

}

@media all and (min-width: 768px) and (max-width: 896px) {
	.survey-form-select-result {
		margin-right: 0.5rem;
	}

	.survey-form-select-filter {
		margin-left: 0.5rem;
	}

	.survey-risk-count-wrapper {
		width: 60%;
	}

	.survey-risk-count-wrapper-small {
		width: 25%;
	}

}

@media all and (min-width: 576px) and (max-width: 768px) {
	.survey-control-buttons {
		flex-direction: column;

		.flex {
			margin-bottom: 1rem;
		}

		.survey-form-select-result {
			flex-basis: 40%;
			margin-left: auto;
			margin-right: 0;
		}

		.survey-button {
			flex-basis: 40%;
		}

		.survey-form-select-filter {
			flex-basis: 40%;
			margin-right: auto;
			margin-left: 0;
		}

		.survey-form-code {
			flex-basis: 40%;
		}
	}

	.survey-risk-count-wrapper {
		width: 70%;
	}

	.survey-risk-count-wrapper-small {
		width: 30%;
	}

}

@media all and (max-width: 576px) {
	.survey-control-buttons {
		flex-direction: column;

		.flex {
			margin-bottom: 1rem;
			flex-direction: column;
		}

		.survey-form-select-result {
			flex-basis: 100%;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 1rem;
		}

		.survey-button {
			flex-basis: 100%;
			margin-bottom: 1rem;
		}

		.survey-form-select-filter {
			flex-basis: 100%;
			margin-right: 0;
			margin-left: 0;
			margin-bottom: 1rem;
		}

		.survey-form-code {
			flex-basis: 100%;
		}
	}

	.survey-form-select-result {
		margin-right: 0.5rem;
	}

	.survey-form-select-filter {
		margin-left: 0.5rem;
	}

	.survey-table-wrapper {
		width: 95%;
	}

	.survey-button {
		width: 100%;
	}

	.survey-list-table-wrapper {
		width: 400px;
		overflow-x: auto;
		margin-left: auto;
		margin-right: auto;

		#survey-table {
			width: 600px;
		}
	}

	.scroll-warning-sm {
		display: inherit;
	}

	.survey-risk-count-wrapper {
		width: 70%;
	}

	.survey-risk-count-wrapper-small {
		width: 40%;
	}
}

@media all and (max-width: 400px) {
	.survey-control-buttons {
		flex-direction: column;

		.flex {
			margin-bottom: 1rem;
			flex-direction: column;
		}

		.survey-form-select-result {
			flex-basis: 100%;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 1rem;
		}

		.survey-button {
			flex-basis: 100%;
			margin-bottom: 1rem;
		}

		.survey-form-select-filter {
			flex-basis: 100%;
			margin-right: 0;
			margin-left: 0;
			margin-bottom: 1rem;
		}

		.survey-form-code {
			flex-basis: 100%;
		}
	}

	.survey-form-select-result {
		margin-right: 0.5rem;
	}

	.survey-form-select-filter {
		margin-left: 0.5rem;
	}

	.survey-table-wrapper {
		width: 95%;
	}

	.survey-button {
		width: 100%;
	}

	.survey-list-table-wrapper {
		width: 300px;
		overflow-x: auto;
		margin-left: auto;
		margin-right: auto;

		#survey-table {
			width: 600px;
		}
	}

	.scroll-warning-sm {
		display: inherit;
	}

	.survey-risk-count-wrapper {
		width: 100%;
	}

	.survey-risk-count-wrapper-small {
		width: 100%;
	}
}