#{extends 'main.html'/}

<div class="content-view-wrapper">
    <div class="view-center-right-content-centered">
        <div class="view-center-right-content-wrapper">
            <div class="view-center-right-content-main">
                <div class="view-center-right-content-main-title mb-3">${news.name}</div>
                #{if news.video}
                    <video id="player" class="media-block view-center-right-content-main-video mb-3" id="player" controls controlsList="nodownload">
                        <source src="https://zhastar.org${news.video}" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                #{/if}
                #{elseif news.picture}<img class="view-center-right-content-main-image mb-3" src="https://zhastar.org${news.picture}" /> #{/elseif}
                <div class="view-center-right-content-main-body mb-3">#{verbatim} ${news.content} #{/verbatim}</div>
                #{if news.documentKz}
                <div class="mb-3">
                    <a class="button-radius button_theme_blue" target="_blank"
                       href="@{controllers.Pages.openNewsDocument(news.id, 'kz')}">
                        <span class="icon">
                            <i class="fa fa-file-text"></i>
                        </span>
                        Документ на казахском языке
                    </a>
                </div>
                #{/if}
                #{if news.documentRu}
                <div class="mb-3">
                    <a class="button-radius button_theme_blue" target="_blank"
                       href="@{controllers.Pages.openNewsDocument(news.id, 'ru')}">
                        <span class="icon">
                            <i class="fa fa-file-text"></i>
                        </span>
                        Документ на русском языке
                    </a>
                </div>
                #{/if}
            </div>
        </div>
    </div>
</div>
