
#{extends 'main.html' /}
#{set 'moreStyles'}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
            rel="stylesheet"  type='text/css'>
    <link  href="/css/faqentites.css" rel="stylesheet" >
#{/set}
<div class="modal-overlay" style="display: none">
</div>
<div id="centralize" style="margin-top: 0px;">
    <div id="ask_div">
        <div class="ask_text" style="height: 40px; cursor: pointer">
            <div style="
                        font-weight: bold;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                            -webkit-transform: translateY(-50%);">
                &{'faq.ask.question'}
            </div>
        </div>
    </div>
</div>

<div id="faq-block">

#{list items:userQuestions, as:'faq'}
    #{if play.i18n.Lang.get().equals("kz") && faq.isKazakhReady()}
        <div class="entity">
            <button class="entity_question">
                <div class="q-text">${faq.questionKz}</div>
                <div class="q-image"><i class="fa fa-caret-right"></i></div>
            </button>
        </div>

        <div class="entity_answer">
            <p>
                ${faq.answerKz}
            </p>
        </div>
    #{/if}

    #{if play.i18n.Lang.get().equals("ru") && faq.isRussianReady()}
        <div class="entity">
            <button class="entity_question">
                <div class="q-text">${faq.questionRu}</div>
                <div class="q-image"><i class="fa fa-caret-right"></i></div>
            </button>
        </div>

        <div class="entity_answer">
            <p>
                ${faq.answerRu}
            </p>
        </div>
    #{/if}

    #{if play.i18n.Lang.get().equals("en") && faq.isEnglishReady()}
        <div class="entity">
            <button class="entity_question">
                <div class="q-text">${faq.questionEn}</div>
                <div class="q-image"><i class="fa fa-caret-right"></i></div>
            </button>
        </div>

        <div class="entity_answer">
            <p>
                ${faq.answerEn}
            </p>
        </div>
    #{/if}
#{/list}

</div>

<div id="ask-modal" class="modal survey-result-modal" style="height: 0rem">
    <a id="ask-modal-close" class="survey-result-modal-close"><i class="fa fa-times" style="color: #4A4A4A; cursor: pointer" aria-hidden="true"></i></a>
    <h3 class="survey-result-modal-title"> &{'faq.ask.question'} </h3>
    <textarea id="modal-textarea" style="height: 15rem" class="survey-result-modal-text"></textarea>
    <div style="display: inline; float: left; width: 80%"><input id="anonymous" style="display: inline" type="checkbox" /><span style="margin-left: 1rem">&{'faq.toggle.anonymity'}</span></div>
    <button id="send-button" class="survey-result-modal-button" style="margin-top: 1rem; margin-bottom: 1rem; cursor: pointer;">&{'send'}</button>
    <div style="margin-bottom: 1rem" id="modal-success" hidden>&{'question.saved'}</div>
    <div style="margin-bottom: 1rem" id="modal-failure" hidden>&{'error'}</div>
</div>

#{set 'moreScripts'}
    <script src="/js/libs/faq_entities.js"></script>
#{/set}