#{extends 'main.html' /}

<section class="header-block-outer" style="background-image: url(uploads/header_block_2.jpg);">
    <div class="header-block-inner">
        <div class="header-block__wrapper header-block__bookmark">
            <div class="header-block__left">
                <div class="header-block__title">
                    ${lesson.name}
                </div>

                #{if lesson.description}
                <div class="header-block__description">
                    ${lesson.description}
                </div>
                #{/if}
            </div>
        </div>
    </div>
</section>

<section class="main-block-outer">
    <div class="main-block-inner">
        <div class="main-block-content__two-columns">
            <div class="__column-left">
                <div class="main-block-content">
                    <video class="media-block" id="player" width="640" height="380" controls controlsList="nodownload">
                        <source src="https://zhastar.org${lesson.video}" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            </div>

            <div class="aside-materials">
                #{if documents.size() > 0}
                #{list items:documents, as:'document'}
                <div class="aside-materials__wrapper">
                    <div class="aside-materials__title">&{'layout.materials.download'}</div>

                    <a class="download download_theme_doc" href="https://zhastar.org${document.file}" target="_blank">
                        ${document.name}
                    </a>
                </div>
                #{/list}
                #{/if}
                <div #{if user.group.key.equals("teacher")} style="display: none" #{/if}>
                    <a class="button button_theme_green" href="@{Pages.quizInfo(step.id)}">
                        &{'lesson.Testing'}
                    </a>
                    <div style="font: 300 22px 'Roboto' sans-serif; text-align: center; margin-top: 10px; padding-left: 10px; padding-right: 10px; font-size: 17px;">
                        &{'lesson.nextlesson'}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

#{set 'moreStyles'}
<style>
    video::-internal-media-controls-download-button {
        display:none;
    }

    video::-webkit-media-controls-enclosure {
        overflow:hidden;
    }

    video::-webkit-media-controls-panel {
        width: calc(100% + 30px); /* Adjust as needed */
    }
</style>
#{/set}


