#{extends 'main.html' /}

<section class="header-block-outer" style="background-image: url(uploads/header_block_warning.jpg);">
    <div class="header-block-inner">
        <div class="header-block__wrapper">
            <div class="header-block__left">
                <div class="header-block__title">
                    ${quizScore.quiz.name}
                </div>

                #{if quizScore.quiz.description}
                <div class="header-block__description">
                    #{verbatim}${quizScore.quiz.description}#{/verbatim}
                </div>
                #{/if}
            </div>
        </div>
    </div>
</section>

<section class="main-block-outer specialist-page">
    <div class="main-block-inner">
        <div class="main-block-content">
            <div class="main-block-content__title">
                #{if quizScore.isPassed}
                    &{'quiz.Passed2'}
                #{/if}
                #{else}
                    &{'quiz.notHandedOver2'}
                #{/else}
            </div>

            #{if quizScore.quiz.content}
            <div class="main-block-content__text">
                #{verbatim}${quizScore.quiz.content}#{/verbatim}
            </div>
            #{/if}
            <div class="main-block-content__diagram-line">
                <div class="circle-block circle-block_theme_green">
                    <svg class="circle-diagram"
                         data-percent="${ (int) Math.floor((double)(quizScore.totalRight) / (quizScore.totalRight + quizScore.totalWrong) * 100) }"
                         data-stroke-color="#90c84b" data-stroke-width="15">
                        <circle class="circle-diagram__circle" cx="50%" cy="50%" r="47%" stroke="#f0f0f0"
                                stroke-width="15" fill="none"></circle>
                        <path class="circle-diagram__arc" fill="none"></path>
                    </svg>

                    <div class="circle-block__text">
                        <span>${quizScore.totalRight} <i>&{'quiz.True'}</i></span>
                    </div>
                </div>

                <div class="circle-block circle-block_theme_red">
                    <svg class="circle-diagram"
                         data-percent="${ (int) Math.floor((double)(quizScore.totalWrong) / (quizScore.totalRight + quizScore.totalWrong) * 100) }"
                         data-stroke-color="#ee3338" data-stroke-width="15">
                        <circle class="circle-diagram__circle" cx="50%" cy="50%" r="47%" stroke="#f0f0f0"
                                stroke-width="15" fill="none"></circle>
                        <path class="circle-diagram__arc" fill="none"></path>
                    </svg>

                    <div class="circle-block__text">
                        <span>${quizScore.totalWrong} <i>&{'quiz.NotTrue'}</i></span>
                    </div>
                </div>

                <div class="circle-block circle-block_theme_purple">
                    <svg class="circle-diagram"
                         data-percent="${ (int) Math.floor((double)(quizScore.totalRight) / (quizScore.totalRight + quizScore.totalWrong) * 100) }"
                         data-stroke-color="#953993" data-stroke-width="15">
                        <circle class="circle-diagram__circle" cx="50%" cy="50%" r="47%" stroke="#f0f0f0"
                                stroke-width="15" fill="none"></circle>
                        <path class="circle-diagram__arc" fill="none"></path>
                    </svg>

                    <div class="circle-block__text">
                            <span>${ (int) Math.floor((double)(quizScore.totalRight) / (quizScore.totalRight + quizScore.totalWrong) * 100) }
                                % <i>&{'quiz.result'}</i></span>
                    </div>
                </div>
            </div>
            <div class="main-block-content__bottom-buttons" style="margin-top: 40px;">
                <ul class="column-two">
                    <li></li>
                    <li>
                        #{if quizScore.isPassed}
                        <a class="button-radius button_theme_purple" href="@{Pages.lessonNext(quizScore.quiz.step.id)}">
                            &{'quiz.next'}
                        </a>
                        #{/if}
                        #{else}
                        <a class="button-radius button_theme_purple" href="@{Pages.quiz(quizScore.quiz.step.id)}">
                            &{'quiz.testAgain'}
                        </a>
                        #{/else}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

#{set 'moreScripts'}
<script>
    // Подсчет начальной и конечной точек кривой
    function polar_to_cartesian(centerX, centerY, radius, angle_in_degrees) {
        var angle_in_radians = (angle_in_degrees - 90) * Math.PI / 180.0;

        return {
            x: centerX + (radius * Math.cos(angle_in_radians)),
            y: centerY + (radius * Math.sin(angle_in_radians))
        };
    }

    // Подсчет передаваемых в тег path параметров кривой
    function describe_arc(x, y, radius, start_angle, end_angle) {
        var start = polar_to_cartesian(x, y, radius, end_angle);
        var end = polar_to_cartesian(x, y, radius, start_angle);
        var arc_sweep = end_angle - start_angle <= 180 ? "0" : "1";
        var d = [
            "M", start.x, start.y,
            "A", radius, radius, 0, arc_sweep, 0, end.x, end.y
        ].join(" ");

        return d;
    }

    // Отрисовывает все найденные диаграммы
    function draw_circle_diagram() {

        var $circle_diagrams = document.getElementsByClassName('circle-diagram');

        for (var $i = 0; $i < $circle_diagrams.length; $i++) {
            var $svg_width = parseInt(getComputedStyle($circle_diagrams[$i]).width);
            var $svg_height = parseInt(getComputedStyle($circle_diagrams[$i]).height);
            var $stroke_color = $circle_diagrams[$i].getAttribute("data-stroke-color");
            var $stroke_width = $circle_diagrams[$i].getAttribute("data-stroke-width");
            var $radius = parseInt(($svg_height / 2) - ($stroke_width / 2), 10);
            var $path = $circle_diagrams[$i].querySelector('.circle-diagram__arc');
            //var $text = $circle_diagrams[$i].querySelector('.circle-diagram__text');
            var $percent = $circle_diagrams[$i].getAttribute("data-percent");

            if ($percent < 0)
                $percent = 0;
            if ($percent < 100 && $percent >= 0)
                $path.setAttribute("d", describe_arc($svg_width / 2, $svg_height / 2, ($svg_height / 2) - ($stroke_width / 2), 0, (360 * $percent) / 100));
            if ($percent >= 100) {
                $path.setAttribute("d", "M " + $svg_width / 2 + ", " + $svg_height / 2 + " m -" + $radius + ", 0 a " + $radius + "," + $radius + " 0 1,0 " + $radius * 2 + ",0 a " + $radius + "," + $radius + " 0 1,0 -" + $radius * 2 + ",0"); // это выдаст окружность
                $percent = 100;
            }

            $path.setAttribute("stroke", $stroke_color);
            $path.setAttribute("stroke-width", $stroke_width);

            //$text.textContent = $percent + "%";
            //$text.setAttribute("y", $svg_height / 2 + 4);

            //console.log($text);
        }
    }

    draw_circle_diagram();
</script>
#{/set}