<label class="checkbox">
    <input type="hidden" name="{{ $attribute }}" value="0">
    <input type="checkbox" name="{{ $attribute }}" value="1" @if(@$_GET[$attribute] == 1) checked @endif >
    {{ $label }}
</label>
