<span class="select">
    <select name="${_name}" class="input">
        #{if _value}
        <option value="${_value.id}" selected>Поиск по ${_value.name}</option>
        #{/if}
        <option></option>
        #{list items: _dropdownOptions, as: 'option'}
            #{if _array}
                #{includes.form.filter.dropdown-array option: option, index: _dropdownOptions.indexOf(option)/}
            #{/if}
            #{else}
                #{includes.form.filter.dropdown-object option: option/}
            #{/else}
        #{/list}
    </select>
</span>
