.header {
	background-color: #00695C;
}

.header__brand {
	color: white;
	font-weight: bold;
}

.header__brand:hover {
	background-color: #00695C !important;
	color: #E0E0E0 !important;
}

.header__back a {
	background-color: #00695C !important;
	color: white !important;
	border-color: white !important;
}

.header__back a:hover {
	background-color: white !important;
	color: black !important;
}

.header__back:hover {
	background-color: #00695C !important;
}

.header__logout {
	font-weight: bold;
	color: white;
}

.header__logout:hover {
	background-color: #00695C !important;
	color: #E0E0E0 !important;
}