#{extends 'main.html'/}
<div class="survey-form-wrapper" style="margin-top: 2rem; margin-bottom: 2rem">
    <h1 class="survey-form-title"> &{'survey.add.upper'} </h1>
    #{if error}
        &{'survey.add.error'}
    #{/if}
    <form class="survey-form" action="@{SurveyController.saveStudent()}" method="POST">
        *{<div class="survey-form-label-input">
            <label for="fname">&{'survey.name'}</label>
            <input class="survey-form-input" id="fname" name="firstname"/>
        </div>
        <div class="survey-form-label-input">
            <label for="lname">&{'survey.surname'}</label>
            <input class="survey-form-input" id="lname" name="lastname"/>
        </div>}*
        *{<div class="survey-form-label-input">
            <label for="bday">&{'survey.date'}</label>
            <input class="survey-form-input" id="bday" name="birthdate" placeholder="&{'survey.format'}"/>
        </div>}*
        <div class="survey-form-label-input">
            <label for="id">&{'survey.number'}</label>
            <input maxlength="7" class="survey-form-input" id="id" name="number" placeholder="XXXXXXX"/>
        </div>
        <div class="survey-form-label-input">
            <label for="sex">&{'survey.gender'}</label>
            <select class="survey-form-select" id="sex" name="gender">
                <option value="m"> &{'survey.man'} </option>
                <option value="f"> &{'survey.woman'} </option>
            </select>
        </div>
        <button type="submit" class="survey-form-button survey-submit-button">&{'survey.toadd'}</button>
    </form>
</div>

#{set 'moreScripts'}
<script>
    String.prototype.replaceAt=function(index, replacement) {
        return this.substr(0, index) + replacement+ this.substr(index + replacement.length);
    }
    for(var i=0; i<document.forms.length; ++i)
    document.forms[i].reset();

  $("#bday").keydown(function(e) {
    if ((isNaN(e.key) || $("#bday").val().length >= 10) && e.keyCode != 8 && e.keyCode != 46) {
        e.preventDefault();
        return;
    }

    e.preventDefault();
    $("#bday").val($("#bday").val() + e.key);

    if (e.keyCode === 8 || e.keyCode === 46) {
        $("#bday").val("");
    }
    var inputVal = $("#bday").val();
    var year = inputVal.substring(6, 10);
    if (inputVal.length > 1) {
        $("#bday").val($("#bday").val().replaceAt(2, "."));
    }
    if (inputVal.length > 4) {
        $("#bday").val($("#bday").val().replaceAt(5, "."));
    }
  });
</script>
#{/set}