#{extends 'admin/admin.main.html' /}

#{set 'section'} Вопросы #{/set}

#{set 'content'}
<form method="post" action="@{Admin.updateUserQuestion()}" class="__js-location">
    #{include 'admin/questions/partials/form.html' /}

    #{includes.form.actions action: action /}
</form>

#{if emptyFieldsError}
<div class="notification is-danger" style="margin-top: 20px">
    ${emptyFieldsError}
</div>
#{/if}
#{/set}
