.form__description, .form__title {
  font: 18px $font_sans;
  color: $c_black;
}

.form__title {
  font-weight: bold;
}

.form {
  width: 100%;
  display: block;

  label {
    font: 18px $font_sans;
    color: $c_black;
    cursor: pointer;
    user-select: none;
    i {
      font: bold 30px $font_sans;
      color: $c_red;
    }
  }

  input, textarea, select, .chosen-container .chosen-single {
    width: 100%;
    height: 46px;
    border: 2px solid #c8d3d8;
    padding-right: 15px;
    padding-left: 15px;
    font: 18px $font_sans;
    color: lighten($c_black, 40%);
    border-radius: 0;
    background-color: $c_white;
    @include placeholder(#c8d3d9);
  }

  select, .chosen-container {
    width: 100% !important;
  }
  .chosen-container {
    &.chosen-with-drop {
      .chosen-single {
        background: none;
        box-shadow: none;
        border: 2px solid #c8d3d8;
        border-bottom: 0;
        div {
          b {
            transform: rotate(180deg);
          }
        }
      }
      .chosen-drop {
        border: 2px solid #c8d3d8;
        border-top: 0;
      }
    }
  }
  .chosen-container {
    .chosen-single {
      background: none;
      box-shadow: none;
      border-radius: 0;
      padding-top: 9px;
      div {
        b {
          position: absolute;
          z-index: 9;
          top: 50%;
          margin-top: -3px;
          left: 50%;
          margin-left: -10px;
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7px 6.5px 0 6.5px;
          border-color: #c8d3d8 transparent transparent transparent;
        }
      }
    }
    .chosen-results {
      margin-right: 0;
      padding-left: 0;
      li {
        padding-right: 15px;
        padding-left: 15px;
        font: 16px $font_sans;
        color: lighten($c_black, 40%);
        &.highlighted {
          background: #c8d3d8;
        }
      }
    }
  }
  .chosen-container-single .chosen-search input[type="text"] {
    border: 1px solid #c8d3d8;
    height: 30px;
    font: 16px $font_sans;
    color: #c8d3d9;
  }
}

.form__warning {
  font: 16px $font_sans;
  color: $c_red;
  margin-top: 10px;
}

input[type="checkbox"], input[type="radio"] {
  display: none;
  &:checked {
    + label {
      &:before {
        @include sprite($icons-form-check-on);
      }
    }
  }
  + label {
    font: 18px $font_sans;
    color: #010101;
    display: block;
    padding-left: 40px;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:active {
      user-select: none;
    }
    &:before {
      content: '';
      position: absolute;
      z-index: 9;
      top: 0;
      left: 0;
      display: block;
      @include sprite($icons-form-check-off);
    }
  }
}

table.form-table {
  tbody {
    tr {
      &:last-child {
        td {
          padding-top: 20px;
          text-align: center;
        }
      }
      td {
        vertical-align: top;
        padding-bottom: 28px;
        &:first-child {
          text-align: right;
          padding-top: 8px;
          padding-right: 4px;
          &[colspan="2"] {
            text-align: left;
          }
          label {
            display: block;
            margin-top: -9px;
          }
        }
      }
    }
  }
}

.form-login {
  max-width: 500px;
  margin: 0 auto;
}


@media screen and (max-width: $width_mobile) {
  table.form-table {
    display: block;
    tbody {
      display: block;
      width: 100%;
      tr {
        display: block;
        width: 100%;
        &:last-child {
          td {
            &:first-child {
              display: none;
            }
          }
        }
        td {
          display: block;
          width: 100%;
          padding-bottom: 5px;
          &:first-child {
            text-align: left;
            padding-right: 0;
            label {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}