<div class="quiz">
    <h3 class="is-title">
        Вопросы
    </h3>

    <div class="questions">
        #{if quiz}
            #{list items: quiz.quizQuestions, as: 'question'}
                #{includes.form.field.item-question old: question/}
            #{/list}
        #{/if}
        #{else}
            #{includes.form.field.item-question old: question/}
        #{/else}
    </div>
</div>

#{set 'moreScripts4'}
<script src="/js/admin/libs/jquery-ui.js"></script>
<script src="/js/admin/modules/quiz.js"></script>
#{/set}