.panel-content__graph {
	flex-basis: 33.3%;
	height: 20rem;
	position: relative;
}

.panel-content__graph_small {
	height: 7rem;
}

.panel-content__graph-inside {
	position: absolute;
	top: calc(50% - 42px);
	left: calc(50% - 42px);
	z-index: 0;
}

.panel-content__graph-inside_small {
	position: absolute;
	top: calc(50% - 2px);
	left: calc(50% - 13px);
}

.panel-content__graph-number {
	font-size: 5rem;
}

.panel-content__graph-number_small {
	font-size: 1.5rem;
}

@media screen and (max-width: 768px) {

	.panel-content__graph-inside {
		position: absolute;
		top: calc(50% - 30px);
		left: calc(50% - 33px);
	}

	.panel-content__graph-number {
		font-size: 4rem;
	}

	.panel-content__graph-inside_small {
		position: absolute;
		top: calc(50% - 2px);
		left: calc(50% - 13px);
	}

	.panel-content__graph-number_small {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 568px) {

	.panel-content__graph-inside {
		position: absolute;
		top: calc(50% - 20px);
		left: calc(50% - 25px);
	}

	.panel-content__graph-number {
		font-size: 3rem;
	}

	.panel-content__graph-inside_small {
		position: absolute;
		top: calc(50% - 2px);
		left: calc(50% - 13px);
	}

	.panel-content__graph-number_small {
		font-size: 1.5rem;
	}

	.panel-content__graph {
		height: 15rem;
	}


}

@media screen and (max-width: 400px) {

	.panel-content__graph-inside {
		position: absolute;
		top: calc(50% - 10px);
		left: calc(50% - 17px);
	}

	.panel-content__graph-number {
		font-size: 2rem;
	}

	.panel-content__graph-inside_small {
		position: absolute;
		top: calc(50% - 2px);
		left: calc(50% - 13px);
	}

	.panel-content__graph-number_small {
		font-size: 1.5rem;
	}

	.panel-content__graph {
		height: 10rem;
	}


}