.course-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;

  &.is-active {
    .course-block__head {
      background-color: #f1fcff;
    }
    .course-block__body-material {
      padding-bottom: 16px;
    }
    .course-block__body-switcher-wrapper {
      padding-right: 30px;
      padding-left: 30px;
      transition: none;
    }
    .course-block__body-switcher {
      //padding-top: 0;
      transition: all .2s ease-in;
      .__show {
        display: none;
      }
      .__hide {
        display: inline-block;
      }
    }
  }
}

.course-block__head, .course-block__body-step, .course-block__body-material {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.course-block__head, .course-block__body-step, .course-block__body-material, .course-block__body-switcher {
  padding: 26px;
  background-color: $c_white;
  border-radius: 12px;
  position: relative;
  box-shadow: 3px 3px 3px rgba($c_black, .06);
}

.course-block__body-material {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  box-shadow: 3px 0 3px rgba($c_black, .06);
  .course-block__image {
    @extend .course-block__time;
  }
}

.course-block__head {
  z-index: 3;
}

.course-block__body {
  display: none;
  width: 100%;
}

.course-block__body-step {
  z-index: 2;
}

.course-block__body-switcher {
  z-index: 2;
  transition: all .2s ease-in;
}

.course-block__body, .course-block__body-material-wrapper {
  padding-right: 15px;
  padding-left: 15px;
}

.course-block__body {
  flex-direction: column;
}

.course-block__body-step, .course-block__body-switcher {
  border-radius: 0 0 12px 12px;
}

.course-block__stick-new {
  @extend .material-block__stick-new;
}

.course-block__stick-done {
  @extend .material-block__stick-new;
  background-color: $c_done;
}

.course-block__stick-undone {
  @extend .material-block__stick-new;
  background-color: $c_undone;
}

.course-block {
  &:first-child, &:last-child {
    .course-block__progress-point-wrapper {
      &:before {
        display: none;
      }
    }
  }
  &:first-child {
    .course-block__progress-point {
      &:before {
        display: block;
        top: 100%;
      }
    }
  }
  &:last-child {
    .course-block__progress-point {
      &:before {
        display: block;
        bottom: 100%;
      }
    }
  }
}
.course-block__progress-point-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 20px;
  width: 38px;
  height: 100%;
  &:before {
    content: '';
    position: absolute;
    z-index: 8;
    top: 0;
    left: 16px;
    width: 5px;
    height: 100%;
    background-color: $c_white;
  }
}

.course-block__progress-point {
  position: relative;
  z-index: 9;
  margin-top: 95px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #c5d1d4;
  border: 5px solid $c_white;
  display: flex;
  justify-content: center;
  align-items: center;
  &:before {
    content: '';
    display: none;
    position: absolute;
    z-index: 8;
    left: 11px;
    width: 5px;
    height: 500px;
    background-color: $c_white;
  }
  &.is-active {
    background-color: #90c84b;
    &:after {
      content: '';
      display: block;
      font: 16px $font_awesome;
      color: $c_white;
    }
  }
}

.course-block__image {
  @extend .material-block__image;
  @include cl_w(144, 1006);

  + .course-block__desc {
    @include cl_w(1006 - 144, 1006);
  }
}

.course-block__body-step {
  .course-block__image {
    @include cl_w(112, 1028);
    min-width: 112px;
    @include resp_height($height: 100%);
    border-radius: 50%;
    background-color: #c5d1d4;

    + .course-block__desc {
      @include cl_w(1028 - 112, 1028);
      padding-left: 52px;
    }
  }
}

.course-block__desc {
  @extend .material-block__desc;
}

.course-block__desc-top {
  @extend .material-block__desc-top;
  @include clear();
  padding-right: 60px;
}

.course-block__desc-middle {
  @extend .material-block__desc-middle;
}

.course-block__desc-bottom {
  @extend .material-block__desc-bottom;
  padding-right: 60px;
}

.course-block__desc-title {
  @extend .material-block__desc-title;
  float: left;
}

.course-block__desc-title-bold {
  @extend .material-block__desc-title-bold;
  float: left;
}

.course-block__desc-right {
  float: right;
  .course-block__desc-title {
    margin-right: 0;
  }
}

.course-block__desc-bookmark {
  @extend .material-block__desc-bookmark;
}

.course-block__desc-text {
  @extend .material-block__desc-text;
  max-width: 565px;
}

.course-block__desc-progress-bar {
  width: 100%;
  max-width: 564px;
  height: 15px;
  border-radius: 10px;
  background-color: #c5d1d4;
  position: relative;
  margin-right: 70px;
  &:after {
    content: attr(data-percent);
    position: absolute;
    z-index: 9;
    top: 50%;
    margin-top: -11px;
    left: 100%;
    margin-left: 10px;
    display: block;
    font: 18px $font_sans;
    color: #c5d1d4;
  }

  span {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #90c84b;
    border-radius: 10px;
  }
}


//Material course column
.course-block__body-column {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 10px;

  &:nth-child(odd) {
    border-right: 1px solid #c5d1d4;
  }

  .course-block__desc-bottom {
    display: block;
    padding-right: 0;
    @include clear();
    .button-radius {
      float: right;
    }
  }
}

.course-block__time, .course-block__step {
  @include cl_w(93, 458);
  min-width: 93px;
  @include resp_height($height: 100%);
  border-radius: 50%;
  background-color: #c5d1d4;
  position: relative;
  margin-top: 30px;

  span {
    font: 24px $font_roboto;
    color: $c_white;
    text-align: center;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    i {
      display: block;
      font-style: normal;
      font-size: 18px;
      margin-top: -7px;
    }
  }


  + .course-block__desc {
    @include cl_w(458 - 93, 458);
    padding-left: 15px;
  }
}


//Course body switcher
.course-block__body-switcher-wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  transition: all .2s ease-in .2s;
}
.course-block__body-switcher {
  width: 100%;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;

  .__show, .__hide {
    display: inline-block;
    vertical-align: middle;
    font: 16px $font_sans;
    color: $c_blue;
    cursor: pointer;
    &:after {
      display: inline-block;
      vertical-align: middle;
      font: 16px $font_awesome;
      color: $c_blue;
      margin-left: 8px;
    }
  }
  .__show {
    display: inline-block;
    &:after {
      content: '';
    }
  }
  .__hide {
    display: none;
    &:after {
      content: '';
    }
  }
}

.specialist-dlc {
  .course-block {
    padding-top: 0 !important;
    padding-right: 5px !important;
    .course-block__progress-point {
      background-color: #a2c6d0;
      //margin-top: 20px;
      position: absolute;
      top: 50%;
      margin-top: -30px;
    }
    .course-block__head {
      background-color: #f1fcff;
      .course-block__desc-title-bold {
        color: #a2c6d0;
      }
    }
    &.is-current {
      .course-block__progress-point {
      background-color: #90c84b;
        &:after {
          content: none !important;
          display: block;
          font: 16px $font_awesome;
          color: $c_white;
        }
      }   
    }
    &.is-active {
      .course-block__progress-point {
        background-color: #90c84b;
        &:after {
          content: '';
          display: block;
          font: 16px $font_awesome;
          color: $c_white;
        }
      }
      .course-block__head {
        background-color: $c_white;
        .course-block__desc-title-bold {
          color: #0092bc;
        }
      }
    }
  }
}


@media screen and (max-width: $width_tablet) {
  .course-block__head, .course-block__body-step, .course-block__body-switcher {
    padding: 20px;
  }
  .course-block__desc-top {
    padding-right: 30px;
  }
  .course-block__desc-bottom {
    padding-right: 0;
    .button-radius {
      white-space: nowrap;
      display: block;
      min-width: auto;
    }
  }

  .course-block__body-step {
    .course-block__image {
      + .course-block__desc {
        padding-left: 45px;
      }
    }
  }
}


@media screen and (max-width: $width_mobile) {
  .course-block {
    padding: 20px 0;
    overflow: visible;
    &.is-active {
      .course-block__body-switcher-wrapper {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  .course-block__head, .course-block__body-step, .course-block__body-switcher {
    padding: 20px 15px;
  }
  .course-block__head, .course-block__body-step, .course-block__body-material {
    flex-direction: column;
  }

  .course-block__body {
    padding-right: 0;
    padding-left: 0;
    margin-top: -10px;
  }

  .course-block__body-step {
    .course-block__image {
      + .course-block__desc {
        width: 100%;
        padding-left: 0;
      }
    }
  }

  .course-block__body-material {
    margin-top: -10px;
    padding-top: 0;
  }

  .course-block__body-column {
    width: 100%;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #c5d1d4;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    &:nth-child(odd) {
      border-right: 0;
    }
  }
  .course-block__time, .course-block__step {
    + .course-block__desc {
      width: 100%;
      padding-left: 0;
    }
  }
  .course-block__time {
    margin-bottom: 20px;
  }
  .course-block__step {
    margin-top: 0;
  }

  .course-block__progress-point-wrapper {
    display: none;
  }

  .course-block__body-material-wrapper {
    padding-right: 0;
    padding-left: 0;
  }

  .course-block__image {
    width: 100%;
    + .course-block__desc {
      width: 100%;
      padding-left: 0;
    }
  }

  .course-block__desc-bottom {
    display: block;
    .button-radius {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .course-block__desc-progress-bar {
    width: auto;
    margin-right: 55px;
    margin-bottom: 20px;
  }
  .course-block__desc-top {
    padding-right: 0;
  }
  .course-block__desc-right {
    margin-top: 5px;
  }
  .course-block__desc-title-bold, .course-block__desc-title {
    margin-right: 0;
  }
  .course-block__desc-top {
    display: flex;
    flex-direction: column;
  }
  .course-block__desc-title-bold, .course-block__desc-right {
    float: none;
    width: 100%;
  }
}