.device-menu {
  display: none;
}


@media screen and (max-width: $width_tablet) {
  .device-menu {
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    //background-color: #0092bc;
    background-color: #007b9e;
    padding-top: 104px;
    text-transform: uppercase;
  }

  .device-menu__top {
    display: none;
  }

  ul.device-menu__header {
    width: 100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0092bc;
    li {
      display: block;
      width: 100%;
      font: 22px $font_sans;
      color: $c_white;
      &.is-active {
        a {
          span {
            border-bottom: 1px solid darken($c_white, 1%);
          }
        }
      }
      a {
        width: 100%;
        display: block;
        padding: 10px 20px;
        color: $c_white;
      }
    }
  }

  ul.device-menu__account {
    @extend ul.device-menu__header;
    display: none;
    background-color: #007b9e;
  }

  ul.device-menu__footer {
    @extend ul.device-menu__header;
    display: none;
    background-color: #007b9e;
  }
}


@media screen and (max-width: $width_mobile) {
  .device-menu {
    width: auto;
    right: 0;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .device-menu__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #1ebae7;
    padding: 20px 25px;
  }
  .device-menu__top-enter, .device-menu__top-account {
    display: block;
    font: 18px $font_sans;
    color: $c_white;
  }

  ul.device-menu__top-language {
    display: block;
    @include clear();
    li {
      display: block;
      float: left;
      font: 18px $font_sans;
      color: $c_white;
      padding: 2px 10px;
      border-right: 1px solid #61cfee;
      &:last-child {
        border-right: 0;
        padding-right: 0;
      }
      &:first-child {
        padding-left: 0;
      }
      &.is-active {
        a {
          border-bottom: 1px solid darken($c_white, 1%);
        }
      }
      a {
        color: $c_white;
      }
    }
  }

  ul.device-menu__footer {
    display: block;
  }
}