.footer-outer {
  background-color: $c_blue;
  box-shadow: 0 -1px 5px rgba($c_black, .3);
  max-width: 100%;

  .footer-inner {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }
}

.home-page-footer {
  position: relative;
  z-index: 50;
  &:before {
    content: '';
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 0;
    display: block;
    width: 211px;
    height: 213px;
    @include sbg();
    background-image: url(../images/baloons.png);
  }
}

.footer__logotype {
  background-color: $c_blue;
  img {
    max-width: 100%;
    display: block;
  }
}

.footer__left {
  padding-left: 40px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: right;
  padding-right: 40px;
}

ul.footer__menu {
  display: inline-block;
  @include clear();
  li {
    display: block;
    float: left;
    padding: 0 10px;
    border-right: 1px solid #5cb9d4;
    &:last-child {
      border-right: 0;
      padding-right: 0;
    }
    &.__current, &.is-active  {
      a {
        background-color: $c_purple;
      }
    }
    a {
      display: block;
      padding: 5px 7px;
      font: 18px $font_roboto;
      color: $c_white;
      text-transform: uppercase;
    }
  }
}

.footer__social {
  padding: 25px 0 35px;
}

$social_list: (facebook, vkontakte, instagram);
$social_icons: ($social-facebook, $social-vkontakte, $social-instagram);
$social_i: 1;

ul.social-list {
  display: block;
  @include clear();
  li {
    display: block;
    float: left;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    @each $item in $social_list {
      &.social-list__#{$item} {
        a {
          @include sprite(nth($social_icons, $social_i));
        }
      }
      $social_i: $social_i + 1;
    }

    a {
      display: block;
    }
  }
}

.footer__copyright {
  font: 11px $font_roboto;
  color: $c_white;
  text-transform: uppercase;
}


@media screen and (max-width: 1400px) {
  .home-page-footer {
    &:before {
      display: none;
    }
  }
}


@media screen and (max-width: $width_mobile) {
  .footer-outer {
    .footer-inner {
      padding: 20px 25px;
    }
  }
  .footer__right {
    display: none;
  }
  .footer__left {
    width: 100%;
    padding-left: 0;
  }
}