.material-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 26px;
  background-color: $c_white;
  border-radius: 12px;
  position: relative;
  box-shadow: 3px 3px 3px rgba($c_black, .06);
  margin-bottom: 23px;
  &:last-child {
    margin-bottom: 0;
  }
}

.material-block__category-block {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.material-block__stick-new {
  position: absolute;
  z-index: 9;
  top: -15px;
  left: 26px;
  display: table;
  border-radius: 16px;
  background-color: #f89734;
  font: bold 12px $font_sans;
  color: $c_white;
  text-transform: uppercase;
  padding: 8px 18px;
}

.material-block__image {
  @include cl_w(144, 560);
  min-width: 144px;
  @include sbg($size: cover);
  @include resp_height($height: 136 / 144 * 100%);
  background-color: $c_blue;
  border-radius: 5px;
  overflow: hidden;

  + .material-block__desc {
    @include cl_w(560 - 144, 560);
    padding-left: 30px;
  }
}

.material-block__desc {
  width: 100%;
}

.material-block__desc-top, .material-block__desc-middle, .material-block__desc-bottom {
  display: block;
  width: 100%;
}

.material-block__desc-top {
  padding-right: 30px;
  margin-top: -4px;
  margin-bottom: 10px;
}

.material-block__desc-middle {
  margin-bottom: 20px;
}

.material-block__desc-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.material-block__desc-title {
  display: inline;
  vertical-align: middle;
  font: 16px $font_sans;
  color: $c_blue;
  margin-right: 12px;
  strong {
    margin-right: 12px;
  }
}

.material-block__desc-title-bold {
  @extend .material-block__desc-title;
  font-weight: bold;
}

.material-block__desc-bookmark {
  position: absolute;
  z-index: 9;
  //top: 25px;
  //right: 26px;
  top: 17px;
  right: 18px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:after {
    content: '';
    display: block;
    font: 16px $font_awesome;
    color: #c5d1d4;
    //@include sprite($icons-star);
  }
  &.is-active {
    &:after {
      color: #0092bc;
      //@include sprite($icons-star-active);
    }
  }
}

.material-block__desc-text {
  font: 16px $font_sans;
  color: $c_grey;
  a {
    color: $c_blue;
    &.is-active, &:hover {
      border-bottom: 1px solid darken($c_blue, 1%);
    }
  }
}

@media screen and (max-width: $width_tablet) {
  .material-block {
    padding: 20px;
  }
  .material-block__desc-bookmark {
    top: 10px;
    right: 10px;
  }
}

@media screen and (max-width: $width_mobile) {
  .material-block {
    padding: 20px 15px;
    flex-direction: column;
  }
  .material-block__desc-bookmark {
    //top: -14px;
    //right: -15px;
    top: 25px;
    right: 20px;
    &:after {
      font-size: 20px;
    }
  }
  .material-block__image {
    width: 100%;
    + .material-block__desc {
      width: 100%;
      padding-left: 0;
      padding-top: 15px;
    }
  }
}