.media-block {
  width: 100%;
  display: block;
  position: relative;
  @include sbg($color: lighten($c_black, 5%), $size: cover);

  iframe {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.media-block__play {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -53px;
  margin-left: -53px;
  @include sprite($icons-play);
  cursor: pointer;
}

.media-block__time {
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: 25px;
  font: bold 20px $font_sans;
  color: $c_purple;
}