.test-block {
  width: 100%;
  margin-bottom: 15px;
}

.test-block__question {
  width: 100%;
  font: 18px $font_sans;
  color: $c_blue;
  margin-bottom: 25px;
}

.test-block__answer-options {
  width: 100%;
  word-spacing: -5px;
}

.test-block__answer {
  word-spacing: normal;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-right: 50px;
  margin-bottom: 30px;
}

.test-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .button-radius {
    font-size: 18px;
    padding: 10px 40px 11px;
  }
}

ul.test-pagination {
  //@include cl_w(610, 962);
  @include cl_w(715, 962);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  li {
    position: relative;
    width: 100px;
    min-width: 20px;
    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #d8e2e6;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    &.is-active {
      &:before {
        content: '';
        position: absolute;
        z-index: 2;
        top: -6px;
        left: -6px;
        display: block;
        width: 26px;
        height: 26px;
        background-color: #A4B2B7;
        border-radius: 50%;
      }
      a {
        position: relative;
        z-index: 3;
        background-color: #A4B2B7;
      }
    }
    &.__done {
      a {
        background-color: $c_done;
      }
    }
    &.__undone {
      a {
        background-color: $c_undone;
      }
    }
    a {
      position: relative;
      z-index: 2;
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 2px solid $c_white;
      background-color: #a4b2b7;
    }
  }
}



@media screen and (max-width: $width_tablet) {
  .test-block__question {
    font-size: 22px;
  }
  .test-block__answer {
    input[type="checkbox"] {
      + label {
        font-size: 20px;
        &:before {
          top: 3px;
        }
      }
    }
  }
  .test-bottom {
    flex-direction: column;
  }
  ul.test-pagination {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    li {
      margin: 10px 0;
      min-width: 30px;
      &.is-active {
        &:before {
          width: 28px;
          height: 28px;
          top: -5px;
          left: -5px;
        }
      }
      a {
        width: 18px;
        height: 18px;
      }
    }
  }
}


@media screen and (max-width: $width_mobile) {
  .test-block__answer-options {
    word-spacing: 0;
  }
  .test-block__answer {
    width: 100%;
    padding-right: 0;
  }
  ul.test-pagination {
    display: block;
    word-spacing: -5px;
    li {
      display: inline-block;
      vertical-align: middle;
      width: 50px;
    }
  }
}