#{extends 'admin/admin.main.html'/}

#{set 'section'}Группы #{/set}
#{set 'action'} Создание #{/set}

#{set 'content'}
    <form method="post" action="@{Admin.newGroup()}">
        #{include 'admin/groups/partials/form.html'/}

        #{includes.form.actions action: action/}
    </form>

    #{if emptyFieldsError}
    <div class="notification is-danger" style="margin-top: 20px">
        ${emptyFieldsError}
    </div>
    #{/if}
#{/set}
