<section id="nav" class="hero is-primary is-medium is-bold">
    <div class="hero-head">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item">
                        <b>Zhastar</b>.org
                    </a>
                    #{if active != "login"}
                    <a href="@{Admin.changeLang("ru")}" class="nav-item is-tab #{if play.i18n.Lang.get().equals("ru") || play.i18n.Lang.get().equals("en")}is-active#{/if}">RU
                    </a>
                    <a href="@{Admin.changeLang("kz")}" class="nav-item is-tab #{if play.i18n.Lang.get().equals("kz")}is-active#{/if}">KZ
                    </a>
                    #{/if}
                </div>
                <span class="nav-toggle">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
                #{if active != "login"}
                <div class="nav-right">
                    <span class="nav-item">
                            <a class="button is-white is-outlined __js-modal__launch" data-for="import" href="#">
                                <span class="icon">
                                    <i class="fa fa-plus-circle"></i>
                                </span>
                                <span>Генерация аккаунтов</span>
                            </a>
                        </span>

                    <a href="@{Application.adminLogout()}" class="nav-item is-tab">Выйти</a>
                </div>
                #{/if}
            </div>
        </header>
    </div>
</section>