<div class="modal __js-location" id="modal-import">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Массовая генерация аккаунтов</p>
            <button class="delete __js-modal__close"></button>
        </header>
        <section class="modal-card-body __main">
            <p>
                Для массовой генерации аккаунтов, выберите интересующую вас школу и укажите количество нужных вам
                аккаунтов,
                после чего, нажмите на кнопку "<b>Создать аккаунты</b>".
            </p>

            <br/>

            <div class="notification has-text-centered locations">
                <span class="select" data-location="regions">
                    <select>
                        <option></option>
                        #{list items: regions, as: 'region'}
                            <option value="${region.id}">${region.name}</option>
                        #{/list}
                    </select>
                </span>

                <span class="select" data-location="provinces">
                    <select>
                        <option></option>
                    </select>
                </span>

                <span class="select" data-location="cities">
                    <select>
                        <option></option>
                    </select>
                </span>

                <hr />

                <span class="select" data-location="schools">
                    <select class="__js-import__school">
                        <option></option>
                        <!--order by name-->
                        #{list items: schools, as: 'school'}
                            <option value="${school.id}">${school.name}</option>
                        #{/list}
                    </select>
                </span>
            </div>

            <p>
            <table class="table is-striped __js-import__counts">
                <thead>
                <tr>
                    <th>Группа</th>
                    <th width="100px">Количество</th>
                </tr>
                </thead>
                <tbody>
                #{list items: modalGroups, as: 'group'}
                <tr>
                    <td>${group.name}</td>
                    <td>
                        <input type="number" name="${group.id}" min="0" max="1000" class="input is-medium __js-count">
                    </td>
                </tr>
                #{/list}
                </tbody>
            </table>
            </p>

            <br/>

            <p class="has-text-centered">
                <button class="button is-primary is-medium is-disabled __js-import">Создать аккаунты</button>
            </p>
        </section>
        <section class="modal-card-body __ajax is-hidden">


                <table class="table">
                    <tbody class="__generated-table">

                    </tbody>
                </table>
        </section>
        <footer class="modal-card-foot">
            <a class="button __js-modal__close">Закрыть</a>
        </footer>
    </div>
</div>
