$flags-flag-kz-device-x: 0px;
$flags-flag-kz-device-y: 0px;
$flags-flag-kz-device-offset-x: 0px;
$flags-flag-kz-device-offset-y: 0px;
$flags-flag-kz-device-width: 34px;
$flags-flag-kz-device-height: 31px;
$flags-flag-kz-device-total-width: 102px;
$flags-flag-kz-device-total-height: 58px;
$flags-flag-kz-device-image: 'sprite_flags.png';
$flags-flag-kz-device: 0px 0px 0px 0px 34px 31px 102px 58px 'sprite_flags.png';
$flags-flag-kz-old-x: 78px;
$flags-flag-kz-old-y: 0px;
$flags-flag-kz-old-offset-x: -78px;
$flags-flag-kz-old-offset-y: 0px;
$flags-flag-kz-old-width: 24px;
$flags-flag-kz-old-height: 22px;
$flags-flag-kz-old-total-width: 102px;
$flags-flag-kz-old-total-height: 58px;
$flags-flag-kz-old-image: 'sprite_flags.png';
$flags-flag-kz-old: 78px 0px -78px 0px 24px 22px 102px 58px 'sprite_flags.png';
$flags-flag-kz-x: 0px;
$flags-flag-kz-y: 36px;
$flags-flag-kz-offset-x: 0px;
$flags-flag-kz-offset-y: -36px;
$flags-flag-kz-width: 31px;
$flags-flag-kz-height: 22px;
$flags-flag-kz-total-width: 102px;
$flags-flag-kz-total-height: 58px;
$flags-flag-kz-image: 'sprite_flags.png';
$flags-flag-kz: 0px 36px 0px -36px 31px 22px 102px 58px 'sprite_flags.png';
$flags-flag-ru-device-x: 39px;
$flags-flag-ru-device-y: 0px;
$flags-flag-ru-device-offset-x: -39px;
$flags-flag-ru-device-offset-y: 0px;
$flags-flag-ru-device-width: 34px;
$flags-flag-ru-device-height: 31px;
$flags-flag-ru-device-total-width: 102px;
$flags-flag-ru-device-total-height: 58px;
$flags-flag-ru-device-image: 'sprite_flags.png';
$flags-flag-ru-device: 39px 0px -39px 0px 34px 31px 102px 58px 'sprite_flags.png';
$flags-flag-ru-old-x: 78px;
$flags-flag-ru-old-y: 27px;
$flags-flag-ru-old-offset-x: -78px;
$flags-flag-ru-old-offset-y: -27px;
$flags-flag-ru-old-width: 24px;
$flags-flag-ru-old-height: 22px;
$flags-flag-ru-old-total-width: 102px;
$flags-flag-ru-old-total-height: 58px;
$flags-flag-ru-old-image: 'sprite_flags.png';
$flags-flag-ru-old: 78px 27px -78px -27px 24px 22px 102px 58px 'sprite_flags.png';
$flags-flag-ru-x: 36px;
$flags-flag-ru-y: 36px;
$flags-flag-ru-offset-x: -36px;
$flags-flag-ru-offset-y: -36px;
$flags-flag-ru-width: 31px;
$flags-flag-ru-height: 22px;
$flags-flag-ru-total-width: 102px;
$flags-flag-ru-total-height: 58px;
$flags-flag-ru-image: 'sprite_flags.png';
$flags-flag-ru: 36px 36px -36px -36px 31px 22px 102px 58px 'sprite_flags.png';