<!--@if ( ! isset($update) || $update === true)-->
    <a href="@{Admin.groupsEdit(_group.id, null, null, null)}" >
        <i class="fa fa-edit"></i>
    </a>
<!--@endif-->

<!--@if ( ! isset($delete) || $delete === true)-->
    <form method="post" style="display: inline-block" action="@{Admin.removeGroup(_group.id)}">
        <!--{{ method_field('DELETE') }}-->
        <!--{{ csrf_field() }}-->

        <a href="javascript:void(0)"
           onclick="if(confirm('Вы уверене что хотите удалить данную запись?')) { $(this).parent().submit(); } else { return; } ">
            <i class="fa fa-remove"></i>
        </a>
    </form>
<!--@endif-->
