<a href="@{Admin.userQuestionsForm(_userQuestion.id)}" >
    <i class="fa fa-edit"></i>
</a>
<form method="post" style="display: inline-block" action="@{Admin.removeUserQuestion(_userQuestion.id)}">
    <a href="javascript:void(0)"
       onclick="if(confirm('Вы уверене что хотите удалить данную запись?')) { $(this).parent().submit(); } else { return; } ">
        <i class="fa fa-remove"></i>
    </a>
</form>