#{extends 'admin/admin.main.html' /}

#{set 'section'} Администраторы #{/set}
#{set 'action'} Список #{/set}

#{set 'actions'}
    <a href="@{Admin.usersCreate()}" class="button is-dark is-outlined">Добавить запись</a>
#{/set}

#{set 'content'}
    #{include 'admin/users/partials/filter.html'/}

    #{if admins.size() > 0}
        <table class="table is-striped is-narrow">
            <thead>
            <tr>
                <th width="50">ID</th>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            #{list items: admins, as: 'user'}
                <tr>
                    <td>${user.id}</td>
                    <td>${user.email}</td>
                    <td class="is-icon">
                        #{includes.index.table-actions-users user: user /}
                    </td>
                </tr>
            #{/list}
            </tbody>
        </table>

        <!--{{ $entities->appends(paginateAppends())->links() }}-->
    #{/if}
    #{else}
        #{include 'admin/includes/index/no-results.html' /}
    #{/else}
#{/set}