.app {
  height: 100%;
  width: 100%;
}

.monitoring__main-panel {
	margin-top: 10px;
}

.monitoring__control-panel {
  margin-top: 10px;
}

.monitoring__auth-card {
	margin: auto;
}

.monitoring__loader-custom {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
