#{extends 'main.html' /}
<section class="questionary-outer">
    <div class="questionary-inner">
        <h1 class="title">&{'layout.account.login'}</h1>
        <div class="main-block-content">

            <form class="form form-login" action="@{Application.authenticate}" method="POST">
                <table class="form-table">
                    <tbody>
                    <tr>
                        <td>
                            <label>&{'layout.account.thelogin'}: <i>*</i></label>
                        </td>
                        <td>
                            <input name="username" type="text" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>&{'auth.password'}: <i>*</i></label>
                        </td>
                        <td>
                            <input name="password" type="password" required>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp</td>
                        <td>
                            <button class="button-radius-big button_theme_blue" type="submit">
                                &{'auth.login'}
                            </button>
                            #{if error}
                            <div class="form__warning" style="text-align: centered">Имя пользователя и пароль не совпадают</div>
                            #{/if}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</section>