<div class="notification">
    <form method="GET" action="@{Admin.supervisors()}">
        <div class="control is-horizontal">
            <div class="control-label">
                <label class="label">ID</label>
            </div>
            <div class="control">
                <p class="control is-width-one-quarter">
                    #{if idFilter}
                        #{includes.form.filter.input name: idInputName, old: idFilter /}
                    #{/if}
                    #{else}
                        #{includes.form.filter.input name: idInputName /}
                    #{/else}
                </p>
            </div>
        </div>

        <div class="control is-horizontal">
            <div class="control-label">
                <label class="label">Логин</label>
            </div>
            <div class="control">
                <p class="control is-width-full">
                    #{if loginFilter}
                        #{includes.form.filter.input name: loginInputName, old: loginFilter/}
                    #{/if}
                    #{else}
                        #{includes.form.filter.input name: loginInputName/}
                    #{/else}
                </p>
            </div>
        </div>

        <div class="control is-horizontal">
            <div class="control-label">
                <label class="label">ФИО</label>
            </div>
            <div class="control">
                <p class="control is-width-full">
                    #{if fullNameFilter}
                        #{includes.form.filter.input name: fullnameInputName, old: fullNameFilter/}
                    #{/if}
                    #{else}
                        #{includes.form.filter.input name: fullnameInputName /}
                    #{/else}
                </p>
            </div>
        </div>

        <div class="control is-horizontal">
            <div class="control-label">
                <label class="label"></label>
            </div>
            <p class="control">
                <button type="submit" class="button is-info">Найти</button>
                <a href="@{Admin.supervisors()}" class="button is-link">Отменить</a>
            </p>
        </div>


    </form>
</div>
