#{if supervisor}
<input type="hidden" name="id" value="${supervisor.id}">
#{/if}
<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Логин</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if supervisor}
                #{includes.form.field.input name: loginInputName, type: 'text', error: duplicateLoginError, old: supervisor.login/}
            #{/if}
            #{else}
                #{includes.form.field.input name: loginInputName, type: 'text', error: duplicateLoginError/}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">ФИО</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if supervisor}
            #{includes.form.field.input name: fullnameInputName, type: 'text', old: supervisor.fullname/}
            #{/if}
            #{else}
            #{includes.form.field.input name: fullnameInputName, type: 'text'/}
            #{/else}
        </p>
    </div>
</div>

<div class="control is-horizontal">
    <div class="control-label">
        <label class="label">Пароль</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{includes.form.field.input name: passwordInputName, type: 'password'/}
        </p>
    </div>
</div>

<hr />

<div class="control is-horizontal" id="field-type">
    <div class="control-label">
        <label class="label">Уровень доступа</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if supervisor}
                #{includes.form.filter.dropdown2 name: typeDropdownName, dropdownOptions: typeDropdownOptions, old: supervisor.type/}
            #{/if}
            #{else}
                #{includes.form.filter.dropdown2 name: typeDropdownName, dropdownOptions: typeDropdownOptions/}
            #{/else}

        </p>
    </div>
</div>

<div class="control is-horizontal #{if !supervisor || supervisor.type.ordinal() < 1} is-hidden #{/if}" data-location="regions" id="field-region">
    <div class="control-label">
        <label class="label">Область</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
            #{if supervisor && supervisor.region}
            текущий: ${supervisor.region.name}
            #{/if}
            #{includes.form.field.dropdown name: regionDropdownName, dropdownOptions: regions/}
        </p>
    </div>
</div>

<div class="control is-horizontal #{if !supervisor || supervisor.type.ordinal() < 2} is-hidden #{/if}" data-location="provinces" id="field-province">
    <div class="control-label">
        <label class="label">Район</label>
    </div>
    <div class="control">
        <p class="control is-width-full">
                #{if supervisor && supervisor.province}
                текущий: ${supervisor.province.name}
                #{/if}
                #{includes.form.field.dropdown name: provinceDropdownName/}
        </p>
    </div>
</div>

#{includes.script.onleave /}

#{set 'moreScripts2'}
<script>
    $("#field-type select").change(function() {
        var val = $(this).val();

        if (val != "" && val != "0") {
            $("#field-region").addClass('is-hidden');
            $("#field-province").addClass('is-hidden');

            if (val == "1") {
                $("#field-region").removeClass('is-hidden');
            } else {
                $("#field-region").removeClass('is-hidden');
                $("#field-province").removeClass('is-hidden');
            }
        } else {
            if (!$("#field-region").hasClass('is-hidden')) {
                $("#field-region").addClass('is-hidden');
            }

            if (!$("#field-province").hasClass('is-hidden')) {
                $("#field-province").addClass('is-hidden');
            }
        }
    });

</script>
#{/set}
