<div class="survey-question" id="q11">
    <div class="survey-question-text text-small" style="margin-bottom: 1rem">&{'q11'}</div>
    <div class="survey-question-text text-small" style="margin-bottom: 3rem">&{'check.all.variants'}</div>
    <div class="survey-answer">
        <div class="survey-answer-radio-text">
            <input type="checkbox" name="q11" value="0"> <span class="helping-el q13"></span> <span class="survey-answer-text"> &{'q11.1'} </span>
        </div>
        <div class="survey-answer-radio-text">
            <input id="checkbox1" type="checkbox" name="q11" value="1"> <span class="helping-el q13"></span> <span class="survey-answer-text"> &{'q11.2'} </span> <input id="text-input-1" type="text" name="q13" class="radio-text" disabled />
        </div>
        <div class="survey-answer-radio-text">
            <input type="checkbox" name="q11" value="2"> <span class="helping-el q13"></span> <span class="survey-answer-text"> &{'q11.3'} </span>
        </div>
        <div class="survey-answer-radio-text">
            <input type="checkbox" name="q11" value="3"> <span class="helping-el q13"></span> <span class="survey-answer-text"> &{'q11.4'} </span>
        </div>
        <div class="survey-answer-radio-text">
            <input id="checkbox2" type="checkbox" name="q11" value="4"> <span class="helping-el q13"></span> <span class="survey-answer-text"> &{'q11.5'} </span> <input id="text-input-2" type="text" name="q13" class="radio-text" disabled />
        </div>
        <div class="survey-answer-radio-text">
            <input id="disable-all" type="checkbox" name="q11" value="5"> <span class="helping-el q13"></span> <span class="survey-answer-text"> &{'q11.6'} </span>
        </div>
    </div>
    <button class="survey-answer-submit">&{'survey.next'}</button> <button class="survey-answer-interrupt">&{'survey.stop'}</button>
</div>