<div class="survey-question" id="q12">
    <div class="survey-question-text no-margin-bottom text-small">&{'q12'}</div>
    <div class="survey-answer">
        <table class="survey-test-table" id="q12-table">
            <thead>
                <tr>
                    <th></th>
                    <th> &{'q12.1'} </th>
                    <th> &{'q12.2'} </th>
                    <th> &{'q12.3'} </th>
                </tr>
            </thead>
            <tbody>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-1'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-1" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-1" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-1" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                       &{'q12-2'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-2" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-2" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-2" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-3'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-3" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-3" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-3" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-4'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-4" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-4" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-4" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-5'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-5" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-5" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-5" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-6'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-6" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-6" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-6" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-7'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-7" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-7" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-7" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-8'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-8" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-8" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-8" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-9'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-9" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-9" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-9" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-10'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-10" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-10" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-10" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-11'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-11" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-11" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-11" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-12'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-12" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-12" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-12" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-13'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-13" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-13" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-13" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-14'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-14" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-14" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-14" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-15'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-15" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-15" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-15" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-16'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-16" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-16" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-16" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-17'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-17" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-17" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-17" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-18'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-18" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-18" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-18" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-19'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-19" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-19" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-19" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-20'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-20" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-20" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-20" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-21'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-21" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-21" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-21" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-22'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-22" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-22" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-22" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-23'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-23" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-23" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-23" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-24'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-24" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-24" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-24" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q12-25'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-25" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-25" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q12-25" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <button class="survey-answer-submit">&{'survey.next'}</button> <button class="survey-answer-interrupt">&{'survey.stop'}</button>
</div>