<div class="survey-question" id="q13">
    <div class="survey-question-text no-margin-bottom text-small">&{'q13'}</div>
    <div class="survey-answer">
        <table class="survey-test-table" id="q13-table">
            <thead>
                <tr>
                    <th></th>
                    <th>&{'q13.1'}</th>
                    <th>&{'q13.2'}</th>
                    <th>&{'q13.3'}</th>
                    <th>&{'q13.4'}</th>
                </tr>
            </thead>
            <tbody>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q13-1'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-1" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-1" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-1" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-1" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q13-2'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-2" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-2" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-2" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-2" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q13-3'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-3" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-3" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-3" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-3" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q13-4'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-4" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-4" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-4" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-4" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q13-5'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-5" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-5" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-5" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-5" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            <tr class="table-spacer"></tr>
            <tr class="survey-subanswer">
                <td>
                    <div class="survey-subquestion-text">
                        &{'q13-6'}
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-6" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-6" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-6" onchange="handleInputChange(this.name, this.value)" value="2"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
                <td>
                    <div class="survey-answer-radio-text">
                        <input type="radio" name="q13-6" onchange="handleInputChange(this.name, this.value)" value="3"> <span class="helping-el" style="margin-left: auto; margin-right: auto"></span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button class="survey-answer-submit">&{'survey.finish'}</button> <button class="survey-answer-interrupt">&{'survey.stop'}</button>
</div>