<div class="survey-question" id="q8">
    <div class="survey-question-text">&{'q8'}</div>
    <div class="survey-answer">
        <div class="survey-answer-radio-text">
            <input id="q8-0" type="radio" name="q8" onchange="handleInputChange(this.name, this.value)" value="0"> <span class="helping-el"></span> <span class="survey-answer-text"> &{'no'} </span>
        </div>
        <div class="survey-answer-radio-text">
            <input id="q8-1" type="radio" name="q8" onchange="handleInputChange(this.name, this.value)" value="1"> <span class="helping-el"></span> <span class="survey-answer-text"> &{'yes'} </span>
        </div>
    </div>
    <button class="survey-answer-submit">&{'survey.next'}</button> <button class="survey-answer-interrupt">&{'survey.stop'}</button>
</div>