<div class="survey-question" id="q9">
    <div class="survey-question-text text-small">&{'q9'}</div>
    <div class="survey-legend">&{'please.write'}</div>
    <div class="survey-answer">
        <input id="q9-0" type="text" class="full-w" name="q9" onchange="handleInputChange(this.name, this.value)"/>
    </div>
    <button class="survey-answer-submit">&{'survey.next'}</button> <button class="survey-answer-interrupt">&{'survey.stop'}</button>
</div>